<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inface.infaceCBP.common.CommonMapper">

<!--협력업체조회-->
<select id="getCommonSubCompanyList" parameterType="CommonVO" resultType="CommonVO"><![CDATA[
SELECT SUBCONTRACTOR_CM_NO
     , SUBCONTRACTOR_CM_NM
     , SUBCONTRACTOR_CM_BSINES_NUM
FROM SUBCONTRACTOR_COMPANY
ORDER BY SUBCONTRACTOR_CM_NO
]]></select>
<!--////협력업체조회-->

<!--현장조회-->
<select id="getCommonSiteList" parameterType="CommonVO" resultType="CommonVO">
<![CDATA[
SELECT CM.BUSINESS_NO
     , CM.COMPANY_NO
     , SI.SITE_NO
     , CM.COMPANY_NAME
     , SI.SITE_NAME
     , SI.SITE_ROAD_ADDRESS
     , CM.CEO_NAME
     , CM.BUSINESS_FIELD
     , CM.TEL
     , CM.EMAIL
     , CM.ROAD_ADDRESS
FROM SITE AS SI
         LEFT JOIN COMPANY AS CM ON SI.COMPANY_NO = CM.COMPANY_NO
         LEFT JOIN COMPANY_GROUP AS CG ON CM.COMPANY_GROUP_NO = CG.COMPANY_GROUP_NO
WHERE SI.SITE_STATE = '01'
]]>
<if test="companyNo != null and !''.equals(companyNo)">
    AND CM.COMPANY_NO = #{companyNo}
</if><![CDATA[
GROUP BY CM.BUSINESS_NO
       , CM.COMPANY_NO
       , SI.SITE_NO
       , CM.COMPANY_NAME
       , SI.SITE_NAME
       , SI.SITE_ROAD_ADDRESS
       , CM.CEO_NAME
       , CM.BUSINESS_FIELD
       , CM.TEL
       , CM.EMAIL
       , CM.ROAD_ADDRESS
ORDER BY CM.COMPANY_NO, SI.SITE_NO
]]>
</select>
<!--////현장조회-->

<!--업체조회-->
<select id="getCommonCompanyList" parameterType="CommonVO" resultType="CommonVO"><![CDATA[
SELECT CG.COMPANY_GROUP_NO
     , CM.COMPANY_NO
     , CM.COMPANY_NAME
FROM COMPANY AS CM
         LEFT JOIN COMPANY_GROUP AS CG ON CM.COMPANY_GROUP_NO = CG.COMPANY_GROUP_NO
GROUP BY CG.COMPANY_GROUP_NO
       , CM.COMPANY_NO
ORDER BY CM.COMPANY_GROUP_NO, CM.COMPANY_NO
]]></select>
<!--////업체조회-->

<!--그룹조회-->
<select id="getCommonGroupList" parameterType="CommonVO" resultType="CommonVO"><![CDATA[
SELECT CG.COMPANY_GROUP_NO
     , CG.COMPANY_GROUP_NAME
FROM COMPANY_GROUP AS CG
GROUP BY CG.COMPANY_GROUP_NO
       , CG.COMPANY_GROUP_NAME
ORDER BY CG.COMPANY_GROUP_NO
]]></select>
<!--////그룹조회-->

</mapper>