<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<th:block layout:fragment="contentFragment">
    <script type="text/javascript" src="/js/jquery/ajax_function/siteInfo_ajax.js"></script>
    <script type="text/javascript" src="/js/jquery/ajax_function/manager_ajax.js"></script>
    <script type="text/javascript" src="/js/jquery/ajax_function/device_ajax.js"></script>
    <script type="text/javascript" src="/js/jquery/ajax_function/wirelessequipment_ajax.js"></script>
    <script type="text/javascript" src="/js/jquery/ajax_function/monthaccount_ajax.js"></script>
    <style>
        .labelBtn label {
            margin: 0 auto;
            cursor: pointer;
            padding: 3px 15px;
            background-color: #ffffff;
            text-align: center;
            margin: 2px;
            border: 1px ridge #c8c8c8;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            // let  listTrMonthAccount = document.getElementsByClassName("listTrMonthAccount");
            //코드가 길어져서 가독성이 안좋기때문에 모든 이벤트처리는 manager_ajax.js 파일에 구현함.
            let count = -1;
            //현장정보 수정
            $(document).on("click", ".goUpdateSiteInfo", function () {
                //click 이벤트가 발생한 요소의 index값.
                let idx = $(".goUpdateSiteInfo").index(this);
                siteTableUpdateJs(idx);
            });
            //담당자추가
            $(document).on("click", "#registManager", function () {
                //count : click이벤트를 실행할때마다 추가되는 index값.
                //html이만들어지기 전이라 index를 먼저 초기화함
                count++;
                let idx = count;
                managerTableInsertJs(idx);
                //$(".goUpdateManager").attr("disabled", true);
            });
            //담당자수정
            $(document).on("click", ".goUpdateManager", function () {
                //click 이벤트가 발생한 요소의 index값.
                let idx = $(".goUpdateManager").index(this);
                managerTableUpdateJs(idx);
            });
            //단말기 추가
            $(document).on("click", "#registDevice", function () {
                count++;
                let idx = count;
                let addHtml = "";
                addHtml = addHtml + '<tr id="listTrDeviceTop' + idx + '">'
                    + '<th>'
                    + '<input type="radio" id="deviceState01' + idx + '" name="deviceHistoryState' + idx + '" value="01">'
                    + '<label for="useStateY">사용</label>'
                    + '<input type="radio" id="deviceState02" name="deviceHistoryState' + idx + '" value="02">'
                    + '<label for="useStateN">폐기</label>'
                    + '</th>'
                    + '<th><select id="deviceKindNo' + idx + '" name="deviceKindNo' + idx + '">'
                    + '<option value="">단말기종류</option>'
                    + '</select></th>'
                    + '<th><select id="deviceDtNo' + idx + '" name="deviceDtNo' + idx + '">'
                    + '<option value="">S/N</option>'
                    + '</select></th>'
                    + '<th><input type="date" class="t_inp" name="deviceHistoryInstallationDate' + idx + '"/></th>'
                    + '<th><input type="date" class="t_inp" name="deviceHistoryEndDate' + idx + '"/></th>'
                    + '<th><input type="text" class="t_inp" name="deviceHistoryDeviceNm' + idx + '"/></th>'
                    + '<th class="labelBtn">'
                    + '<label for="goCancelDevice' + idx + '"><input type="button" id="goCancelDevice' + idx + '" class="goCancelDevice">취소</label>'
                    + '<label for="goRegistDevice' + idx + '"><input type="button" id="goRegistDevice' + idx + '" class="goRegistDevice" >저장</label>'
                    + '</th>'
                    + '</tr>';
                $("#tableDevice thead").append(addHtml);

                //append된 html tr의 출력 할 model값
                /* <![CDATA[ */
                let deviceKindlist = /*[[${deviceKindlist}]]*/ "";  //단말기의 종류 리스트

                //js로 생성한 html에 단말기의 종류 리스트를 뿌려준다
                $.each(deviceKindlist, function (index, item) {
                    //console.log(item.deviceKindNo);
                    $("select[name='deviceKindNo" + idx + "']").append("<option value='" + item.deviceKindNo + "'>" + item.deviceKind + "</option>")
                });
                /* ]]> */

                deviceTableInsertJs(idx);

                // $(".goUpdateManager").attr("disabled", true);
            });
            //단말기 수정
            $(document).on("click", ".goUpdateDevice", function () {
                //click 이벤트가 발생한 요소의 index값.
                let idx = $(".goUpdateDevice").index(this);
                //수정버튼을 누르고 현재 데이터를 가져온다.
                let siteNo = $(".goUpdateDevice:eq(" + idx + ")").attr("siteNo"); //현장번호
                let deviceHistoryState = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceHistoryState"); //단말기사용여부
                let deviceKind = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceKind"); //단말기종류명
                let deviceSn = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceSn"); //단말기 시리얼번호
                let deviceHistoryInstallationDate = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceHistoryInstallationDate"); //단말기 설치날짜
                let deviceHistoryEndDate = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceHistoryEndDate"); //단말기 종료날짜
                let deviceHistoryDeviceNm = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceHistoryDeviceNm"); //단말기명
                let deviceKindNo = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceKindNo"); //단말기종류번호
                let deviceDtNo = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceDtNo"); //단말기상세번호

                //html을 입력이 가능하게 바꿔주고, 데이터를 뿌려줌.
                let addHtml2 = "";
                addHtml2 += "<td><span><input type='radio' value='01' name='deviceHistoryStateUp" + idx + "' class='stateYUp" + idx + "'" + ((deviceHistoryState.replace(" ", "") == "01") ? "checked" : "") + "/>사용</span>"
                    + "<span><input type='radio' value='02' name='deviceHistoryStateUp" + idx + "' class='stateNUp" + idx + "'" + ((deviceHistoryState.replace(" ", "") == "02") ? "checked" : "") + "/>종료</span></td>"
                    + "<td><select id='deviceKindNoUp" + idx + "' name='deviceKindNoUp" + idx + "'><option value='0'>단말기종류</option></select></td>"
                    + "<td><select id='deviceDtNoUp" + idx + "' name='deviceDtNoUp" + idx + "'><option value='0'>S/N</option></select></td>"
                    + "<td><input type='text' value='" + deviceHistoryInstallationDate + "' name='deviceHistoryInstallationDateUp" + idx + "' /></td>"
                    + "<td><input type='text' value='" + deviceHistoryEndDate + "' name='deviceHistoryEndDateUp" + idx + "'/></td>"
                    + "<td><input type='text' value='" + deviceHistoryDeviceNm + "' name='deviceHistoryDeviceNmUp" + idx + "'/></td>"
                    + "<td class='labelBtn'>"
                    + "<label><input type='button' value='취소' id='goUpdateCancelDevice" + idx + "'/></label>"
                    + "<label><input type='button' value='저장' id='goUpdateSubmitDevice" + idx + "'/></label>"
                    + "</td>";

                $(".listTrDevice:eq(" + idx + ")").find('td').hide();
                $(".listTrDevice:eq(" + idx + ")").append(addHtml2);

                /* <![CDATA[ */

                let deviceKindlist = /*[[${deviceKindlist}]]*/ "";  //단말기의 종류 리스트
                let devicelist = /*[[${devicelist}]]*/ "";  //단말기의 리스트

                //js로 생성한 html에 단말기의 종류 리스트를 뿌려준다
                $.each(deviceKindlist, function (index, item) {
                    //console.log(item.deviceKindNo);
                    $("select[name='deviceKindNoUp" + idx + "']").append("<option value='" + item.deviceKindNo + "'" +
                        ((deviceKindNo == item.deviceKindNo) ? "selected" : "")
                        + ">" + item.deviceKind + "</option>");
                });

                //js로 생성한 html에 단말기의 리스트를 뿌려준다
                $("#deviceDtNoUp" + idx + " option").remove();
                $("#deviceDtNoUp" + idx + "").append("<option value='" + deviceDtNo + "' >" + deviceSn + "</option>");

                /* ]]> */

                //단말기 종류를 SELECT 하면 종류별 단말기가 조회된다
                $("#deviceKindNoUp" + idx + "").on("change", function () {
                    let deviceKindNo = $("#deviceKindNoUp" + idx + "").val();
                    let deviceDtNo = 0;
                    //let deviceDtNo = $("#deviceDtNoUp" + idx + "").val();

                    $.ajax({
                        url     : "/deviceList",
                        type    : "post",
                        data    : {deviceKindNo: deviceKindNo, deviceDtNo: deviceDtNo},
                        success : function (data) {
                            $("#deviceDtNoUp" + idx + " option").remove();
                            $("#deviceDtNoUp" + idx + "").append("<option value='0' >S/N</option>");
                            //js로 생성한 html에 단말기 리스트를 뿌려준다
                            $.each(data, function (index, item) {
                                //console.log(item.deviceDtNo);
                                $("#deviceDtNoUp" + idx + "").append("<option value='" + item.deviceDtNo + "'" +
                                    ((deviceDtNo == item.deviceDtNo) ? "selected" : "")
                                    + ">" + item.deviceSn + "</option>");
                            });
                        }, error: function () {
                            alert("error");
                        }
                    });
                });
                let beforeDeviceDtNo = $(".goUpdateDevice:eq(" + idx + ")").attr("deviceDtNo");
                deviceTableUpdateJs(idx, beforeDeviceDtNo);
            });

            //무선단말기 추가
            $(document).on("click", "#registWirelessEquipment", function () {
                count++;
                let idx = count;
                let addHtml = "";
                addHtml = addHtml + '<tr id="listTrWirelessEquipmentTop' + idx + '">'
                    + '<th>'
                    + '<input type="radio" id="wirelessEquipmentHistoryState01' + idx + '" name="wirelessEquipmentHistoryState' + idx + '" value="01">'
                    + '<label for="useStateY">사용</label>'
                    + '<input type="radio" id="wirelessEquipmentHistoryState02" name="wirelessEquipmentHistoryState' + idx + '" value="02">'
                    + '<label for="useStateN">폐기</label>'
                    + '</th>'
                    + '<th><select id="wirelessEquipmentCarrierDtNo' + idx + '" name="wirelessEquipmentCarrierDtNo' + idx + '">'
                    + '<option value="">무선단말기종류</option>'
                    + '</select></th>'
                    + '<th><select id="wirelessEquipmentDtNo' + idx + '" name="wirelessEquipmentDtNo' + idx + '">'
                    + '<option value="">S/N</option>'
                    + '</select></th>'
                    + '<th><input type="date" class="t_inp" name="wirelessEquipmentHistoryInstallationDate' + idx + '"/></th>'
                    + '<th><input type="date" class="t_inp" name="wirelessEquipmentHistoryEndDate' + idx + '"/></th>'
                    + '<th class="labelBtn">'
                    + '<label for="goCancelWirelessEquipment' + idx + '"><input type="button" id="goCancelWirelessEquipment' + idx + '" class="goCancelWirelessEquipment">취소</label>'
                    + '<label for="goRegistWirelessEquipment' + idx + '"><input type="button" id="goRegistWirelessEquipment' + idx + '" class="goRegistWirelessEquipment" >저장</label>'
                    + '</th>'
                    + '</tr>';
                $("#tableWirelessEquipment thead").append(addHtml);

                //append된 html tr의 출력 할 model값
                /* <![CDATA[ */
                let wirelessEquipmentCarrierList = /*[[${wirelessEquipmentCarrierList}]]*/ "";  //단말기의 종류 리스트

                //js로 생성한 html에 단말기의 종류 리스트를 뿌려준다
                $.each(wirelessEquipmentCarrierList, function (index, item) {
                    //console.log(item.deviceKindNo);
                    $("select[name='wirelessEquipmentCarrierDtNo" + idx + "']").append("<option value='" + item.wirelessEquipmentCarrierDtNo + "'>" + item.wirelessEquipmentCarrierKind + "</option>")
                });
                /* ]]> */

                wirelessEquipmentTableInsertJs(idx);

            });
            //무선단말기 수정
            $(document).on("click", ".goUpdateWirelessEquipment", function () {

                //click 이벤트가 발생한 요소의 index값.
                let idx = $(".goUpdateWirelessEquipment").index(this);
                //수정버튼을 누르고 현재 데이터를 가져온다.
                let siteNo = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("siteNo"); //현장번호
                let wirelessEquipmentHistoryState = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentHistoryState"); //무선단말기사용여부
                let wirelessEquipmentCarrierKind = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentCarrierKind"); //무선단말기종류명
                let wirelessEquipmentSn = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentSn"); //무선단말기 시리얼번호
                let wirelessEquipmentHistoryInstallationDate = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentHistoryInstallationDate"); //무선단말기 설치날짜
                let wirelessEquipmentHistoryEndDate = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentHistoryEndDate"); //무선단말기 종료날짜
                let wirelessEquipmentCarrierDtNo = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentCarrierDtNo"); //무선단말기통신사종류번호
                let wirelessEquipmentDtNo = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentDtNo"); //무선단말기상세번호
                let wirelessEquipmentHistoryDtNo = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentHistoryDtNo"); //무선단말기이력상세번호

                //html을 입력이 가능하게 바꿔주고, 데이터를 뿌려줌.
                let addHtml2 = "";
                addHtml2 += "<td><span><input type='radio' value='01' name='wirelessEquipmentHistoryStateUp" + idx + "' class='stateYUp" + idx + "'" + ((wirelessEquipmentHistoryState.replace(" ", "") == "01") ? "checked" : "") + "/>사용</span>"
                    + "<span><input type='radio' value='02' name='wirelessEquipmentHistoryStateUp" + idx + "' class='stateNUp" + idx + "'" + ((wirelessEquipmentHistoryState.replace(" ", "") == "02") ? "checked" : "") + "/>종료</span></td>"
                    + "<td><select id='wirelessEquipmentCarrierDtNoUp" + idx + "' name='wirelessEquipmentCarrierDtNoUp" + idx + "'><option value='0'>단말기종류</option></select></td>"
                    + "<td><select id='wirelessEquipmentDtNoUp" + idx + "' name='wirelessEquipmentDtNoUp" + idx + "'><option value='0'>S/N</option></select></td>"
                    + "<td><input type='date' value='" + wirelessEquipmentHistoryInstallationDate + "' name='wirelessEquipmentHistoryInstallationDateUp" + idx + "' /></td>"
                    + "<td><input type='date' value='" + wirelessEquipmentHistoryEndDate + "' name='wirelessEquipmentHistoryEndDateUp" + idx + "'/></td>"
                    + "<td class='labelBtn'>"
                    + "<label><input type='button' value='취소' id='goUpdateCancelWirelessEquipment" + idx + "'/></label>"
                    + "<label><input type='button' value='저장' id='goUpdateSubmitWirelessEquipment" + idx + "'/></label>"
                    + "</td>";

                $(".listTrWirelessEquipment:eq(" + idx + ")").find('td').hide();
                $(".listTrWirelessEquipment:eq(" + idx + ")").append(addHtml2);

                /* <![CDATA[ */

                let wirelessEquipmentCarrierList = /*[[${wirelessEquipmentCarrierList}]]*/ "";  //무선단말기의 통신사종류 리스트
                //let devicelist = /!*[[${devicelist}]]*!/ "";  //단말기의 리스트

                //js로 생성한 html에 단말기의 종류 리스트를 뿌려준다
                $.each(wirelessEquipmentCarrierList, function (index, item) {
                    //console.log(item.deviceKindNo);
                    $("select[name='wirelessEquipmentCarrierDtNoUp" + idx + "']").append("<option value='" + item.wirelessEquipmentCarrierDtNo + "'" +
                        ((wirelessEquipmentCarrierDtNo == item.wirelessEquipmentCarrierDtNo) ? "selected" : "")
                        + ">" + item.wirelessEquipmentCarrierKind + "</option>");
                });

                //js로 생성한 html에 단말기의 리스트를 뿌려준다
                $("#wirelessEquipmentDtNoUp" + idx + " option").remove();
                $("#wirelessEquipmentDtNoUp" + idx + "").append("<option value='" + wirelessEquipmentDtNo + "' >" + wirelessEquipmentSn + "</option>");

                /* ]]> */

                //무선단말기를 SELECT 하면 종류별 단말기가 조회된다
                $("#wirelessEquipmentCarrierDtNoUp" + idx + "").on("change", function () {
                    let wirelessEquipmentCarrierDtNo = $("#wirelessEquipmentCarrierDtNoUp" + idx + "").val();
                    let wirelessEquipmentDtNo = 0;
                    //console.log(wirelessEquipmentCarrierDtNo);
                    //console.log(wirelessEquipmentDtNo);
                    $.ajax({
                        url     : "/wirelessEquipmentList",
                        type    : "post",
                        data    : {
                            wirelessEquipmentCarrierDtNo: wirelessEquipmentCarrierDtNo,
                            wirelessEquipmentDtNo       : wirelessEquipmentDtNo,
                        },
                        success : function (data) {
                            $("#wirelessEquipmentDtNoUp" + idx + " option").remove();
                            $("#wirelessEquipmentDtNoUp" + idx + "").append("<option value='0' >S/N</option>");
                            //js로 생성한 html에 단말기 리스트를 뿌려준다
                            $.each(data, function (index, item) {
                                //console.log(item.deviceDtNo);
                                $("#wirelessEquipmentDtNoUp" + idx + "").append("<option value='" + item.wirelessEquipmentDtNo + "'" +
                                    ((wirelessEquipmentDtNo == item.wirelessEquipmentDtNo) ? "selected" : "")
                                    + ">" + item.wirelessEquipmentSn + "</option>");
                            });
                        }, error: function () {
                            alert("error");
                        }
                    });
                });
                let beforeWirelessEquipmentDtNo = $(".goUpdateWirelessEquipment:eq(" + idx + ")").attr("wirelessEquipmentDtNo");
                wirelessEquipmentTableUpdateJs(idx, beforeWirelessEquipmentDtNo);
            });

            //월사용료는 한 현장에 하나씩 등록해야하기때문에 등록된 정보가 있는지없는지 판단함.
            if ($(".goUpdateMonthAccount").attr("siteMonthAccountNo") >= 0) {
                //등록된 월사용료가 있다면 월사용료추가 버튼을 숨김.
                $("#registMonthAccount").hide();
            }
            //월사용료 정보 등록
            $(document).on("click", "#registMonthAccount", function () {
                count++;
                let idx = count;
                monthAccountTableInsertJs(idx);
            });
            //월사용료 정보 수정
            $(document).on("click", ".goUpdateMonthAccount", function () {
                let idx = $(".goUpdateMonthAccount").index(this);
                monthAccountTableUpdateJs(idx);
            });
        });

    </script>
    <!-- Content Area -->
    <div class="PAGE_BODY">
        <h1 class="page_title">
            운영 현장 상세정보<b> 호반-용산국제빌딩5구역</b>
            <div class="tit_btn_area">
                <a href="#" class="BTNS icon list"><span>목록</span></a>
            </div>
        </h1>
        <!-- //////////////////// Content List -->
        <div class="LIST_BOX">
            <!-- Info list Top -->
            <div class="con_info_top">
                <table id="tableSiteInfo">
                    <thead>
                    <tr>
                        <th>운영상태</th>
                        <th>업체명</th>
                        <th>현장명</th>
                        <th>현장 시작일</th>
                        <th>현장 종료일</th>
                        <th>현장 주소</th>
                        <th>관리</th>
                    </tr>
                    <input type="hidden" name="siteNo" th:value="${siteNo}"/>
                    </thead>
                    <tbody>
                    <th:block th:each="list :${list}" th:switch="${list.siteState}">
                        <tr class="listTrSiteInfo">
                            <td th:case="00" th:text="예정">운영중</td>
                            <td th:case="01" th:text="운영중">운영중</td>
                            <td th:case="02" th:text="종료">운영중</td>
                            <td th:text="${list.companyName}">원영건업</td>
                            <td th:text="${list.siteName}">삼성-부산EDC스마트빌리지</td>
                            <td th:text="${list.siteStartDate}">2021.11.01</td>
                            <td th:text="${list.siteEndDate}">2021.11.01</td>
                            <td th:if="${not #strings.isEmpty(list.siteAddress)}" th:text="${list.siteAddress}">서울특별시
                                중랑구 신내역로3길 40-36, B동 103호(신내동, 신내데시앙플렉스)
                            </td>
                            <td th:unless="${not #strings.isEmpty(list.siteAddress)}" th:text="${list.siteRoadAddress}">
                                서울특별시 중랑구 신내역로3길 40-36, B동 103호(신내동, 신내데시앙플렉스)
                            </td>
                            <td class="labelBtn">
                                <label>
                                    <input type="button" class="goUpdateSiteInfo"
                                           th:attr="siteState = ${list.siteState}
										   			, companyName = ${list.companyName}
													, siteName=${list.siteName}
													, siteStartDate=${list.siteStartDate}
													, siteEndDate=${list.siteEndDate}
													, siteAddress=${list.siteAddress}
													, siteRoadAddress=${list.siteRoadAddress}
													, siteStartDate=${list.siteStartDate}
													, siteEndDate=${list.siteEndDate}
													, siteNo = ${siteNo}" value="수정"/>
                                </label>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!--담당자 연락처 리스트-->
            <div class="list_top_area">
                <div class="list_search_result blue">
                    <b>담당자 연락처</b>
                </div>
                <div class="list_top_btn_box">
                    <!-- 버튼이 있는 경우 노출 -->
                    <a href="#" class="BTNS icon regist" id="registManager"><span>담당자 추가</span></a>
                </div>
            </div>
            <div class="con_info_top">
                <form id="form1">
                    <table id="tablet">
                        <thead>
                        <tr>
                            <th>상태</th>
                            <th>이름</th>
                            <th>직위</th>
                            <th>휴대폰</th>
                            <th>이메일</th>
                            <th>계산서</th>
                            <th>관리</th>
                        </tr>
                        <input type="hidden" name="siteNo" th:value="${siteNo}"/>
                        </thead>
                        <tbody>
                        <th:block th:each=" list, index : ${siteManagerList}" th:switch="${list.clientManagerState}">
                            <tr class="listTr">
                                <td th:case="Y" th:text="사용">사용</td>
                                <td th:case="N" th:text="종료">사용</td>
                                <td th:text="${list.clientManagerNm}"><input type='hidden' class='managerNm'
                                                                             name='managerNm' th:value="wwwww"/></td>
                                <td th:text="${list.clientManagerPosition}">소장</td>
                                <td th:text="${list.clientManagerPhone}">011-1234-5678</td>
                                <td th:text="${list.clientManagerEmail}">infacehub@infacehub.com</td>
                                <td th:if="${list.taxChk} == 'Y'">✓</td>
                                <td th:if="${list.taxChk} == 'N'">-</td>
                                <td class="labelBtn">
                                    <label>
                                        <input type="button" class="goUpdateManager"
                                               th:attr="index=${index.count}
										   			, clientManagerState = ${list.clientManagerState}
										   			, clientManagerNm = ${list.clientManagerNm}
													, clientManagerPosition=${list.clientManagerPosition}
													, clientManagerPhone = ${list.clientManagerPhone}
													, clientManagerEmail = ${list.clientManagerEmail}
										   			, taxChk = ${list.taxChk}
													, clientManagerNo = ${list.clientManagerNo}
													, siteNo = ${siteNo}" value="수정"/>
                                    </label>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </form>
            </div>
            <!--//담당자 연락처 리스트//-->
            <!-- 단말기 등록정보 -->
            <div class="list_top_area">
                <div class="list_search_result blue">
                    <b>단말기 등록정보</b>
                </div>
                <div class="list_top_btn_box">
                    <!-- 버튼이 있는 경우 노출 -->
                    <a href="#" class="BTNS icon regist" id="registDevice"><span>단말기 추가</span></a>
                </div>
            </div>
            <div class="con_info_top">
                <table id="tableDevice">
                    <thead>
                    <tr>
                        <th>상태</th>
                        <th>종류</th>
                        <th>S/N</th>
                        <th>설치일</th>
                        <th>종료일</th>
                        <th>단말기명</th>
                        <th>관리</th>
                    </tr>
                    <input type="hidden" name="siteNo" th:value="${siteNo}"/>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${siteDeviceHistoryList}" th:switch="${list.deviceHistoryState}">
                        <tr class="listTrDevice">
                            <td th:case="01" th:text="사용">사용</td>
                            <td th:case="02" th:text="종료">사용</td>
                            <td th:text="${list.deviceKind}"></td>
                            <td th:text="${list.deviceSn}"></td>
                            <td th:text="${list.deviceHistoryInstallationDate}"></td>
                            <td th:text="${list.deviceHistoryEndDate}"></td>
                            <td th:text="${list.deviceHistoryDeviceNm}"></td>
                            <td class="labelBtn">
                                <label>
                                    <input type="button" class="goUpdateDevice"
                                           th:attr="deviceHistoryState=${list.deviceHistoryState}
                                           ,deviceKind=${list.deviceKind}
                                           ,deviceSn=${list.deviceSn}
                                           ,deviceHistoryInstallationDate=${list.deviceHistoryInstallationDate}
                                           ,deviceHistoryEndDate=${list.deviceHistoryEndDate}
                                           ,deviceHistoryDeviceNm=${list.deviceHistoryDeviceNm}
                                           ,deviceKindNo=${list.deviceKindNo}
                                           ,deviceDtNo=${list.deviceDtNo}
                                           ,siteNo=${siteNo}
                                           ,deviceHistoryDtNo =${list.deviceHistoryDtNo}"
                                           value="수정"/>
                                </label>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!--// 단말기 등록정보 //-->
            <!-- 무선 단말기 등록정보 -->
            <div class="list_top_area">
                <div class="list_search_result blue">
                    <b>무선 단말기 등록정보</b>
                </div>
                <div class="list_top_btn_box">
                    <!-- 버튼이 있는 경우 노출 -->
                    <a href="#" class="BTNS icon regist" id="registWirelessEquipment"><span>무선단말기 추가</span></a>
                </div>
            </div>
            <div class="con_info_top">
                <table id="tableWirelessEquipment">
                    <thead>
                    <tr>
                        <th>상태</th>
                        <th>통신사</th>
                        <th>S/N</th>
                        <th>설치일</th>
                        <th>종료일</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${siteWirelessEquipmentHistoryList}"
                              th:switch="${list.wirelessEquipmentHistoryState}">
                        <tr class="listTrWirelessEquipment">
                            <td th:case="01" th:text="사용">사용</td>
                            <td th:case="02" th:text="종료">사용</td>
                            <td th:text="${list.wirelessEquipmentCarrierKind}">KT</td>
                            <td th:text="${list.wirelessEquipmentSn}">CKJFEO458239</td>
                            <td th:text="${list.wirelessEquipmentHistoryInstallationDate}">2021.12.01</td>
                            <td th:text="${list.wirelessEquipmentHistoryEndDate}">2021.12.01</td>
                            <td class="labelBtn">
                                <label>
                                    <input type="button" class="goUpdateWirelessEquipment"
                                           th:attr="wirelessEquipmentHistoryState=${list.wirelessEquipmentHistoryState}
                                           ,wirelessEquipmentCarrierKind=${list.wirelessEquipmentCarrierKind}
                                           ,wirelessEquipmentSn=${list.wirelessEquipmentSn}
                                           ,wirelessEquipmentHistoryInstallationDate=${list.wirelessEquipmentHistoryInstallationDate}
                                           ,wirelessEquipmentHistoryEndDate=${list.wirelessEquipmentHistoryEndDate}
                                           ,wirelessEquipmentCarrierDtNo=${list.wirelessEquipmentCarrierDtNo}
                                           ,wirelessEquipmentDtNo=${list.wirelessEquipmentDtNo}
                                           ,siteNo=${siteNo}
                                           ,wirelessEquipmentHistoryDtNo =${list.wirelessEquipmentHistoryDtNo}"
                                           value="수정"/>
                                </label>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!--// 무선 단말기 등록정보 //-->
            <!-- 월사용료 정보 -->
            <div class="list_top_area">
                <div class="list_search_result blue">
                    <b>월사용료 정보</b>
                </div>
                <div class="list_top_btn_box">
                    <!-- 버튼이 있는 경우 노출 -->
                    <a href="#" class="BTNS icon regist" id="registMonthAccount"><span>월사용료 추가</span></a>
                </div>
            </div>
            <div class="con_info_top">
                <table id="tableMonthAccount">
                    <thead>
                    <tr>
                        <th>시스템 사용료</th>
                        <th>단말기 사용료</th>
                        <th>무선인터넷 사용료</th>
                        <th>세금계산서 발행일</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list : ${siteMonthAccount}">
                        <tr class="listTrMonthAccount">
                            <td th:text="|${list.systemAccount}원|">100,000원</td>
                            <td th:text="|${list.deviceAccount}원|">50,000원</td>
                            <td th:text="|${list.internetAccount}원|">40,000원</td>
                            <td th:text="|${list.taxAccountDt}일|"></td>
                            <td class="labelBtn">
                                <label>
                                    <input type="button" class="goUpdateMonthAccount"
                                           th:attr="systemAccount=${list.systemAccount}
										 ,deviceAccount=${list.deviceAccount}
										 ,internetAccount=${list.internetAccount}
										 ,taxAccountDt=${list.taxAccountDt}
										 ,siteNo=${siteNo}
										 ,siteMonthAccountNo=${list.siteMonthAccountNo}"
                                           value="수정"/>
                                </label>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!--// 무선 단말기 등록정보 //-->
            <!-- Content List //////////////////// -->
        </div>
    </div>
</th:block>

