<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<th:block layout:fragment="contentFragment">
    <!-- Content Area -->
    <div class="PAGE_BODY">
        <h1 class="page_title">전체 이용내역 현황</h1>
        <!--<div class="page_top">
            &lt;!&ndash; Search Area &ndash;&gt;
            <div class="con_search_box">
                &lt;!&ndash; Select &ndash;&gt;
                <div class="search_inp_box">
                    <div class="date_inp">
                        <i class="iconDate"></i>
                        <input type="text" value="2020.12. 11" class="date_inp" />
                        <span class="dtx">~</span>
                        <i class="iconDate"></i>
                        <input type="text" value="2020.12. 11" class="date_inp" />
                    </div>
                    <select class="top_inp">
                        <option>진행상태</option>
                    </select>
                    <select class="top_inp">
                        <option>현장을 선택하세요</option>
                    </select>
                    <input type="text" placeholder="발주번호를 입력하세요" class="top_inp" />
                    <a href="#" class="BTNS icon search"><span>검색</span></a>
                    <a href="#" class="BTNS icon reset"><span>초기화</span></a>
                </div>
                &lt;!&ndash; Button Area &ndash;&gt;
                <div class="fuc_btns_box">
                    &lt;!&ndash; 버튼이 있는 경우 노출 &ndash;&gt;
                </div>
            </div>
        </div>-->
        <!-- //////////////////// Content List -->
        <div class="LIST_BOX">
            <!-- Search Result, buttons -->
            <!--<div class="list_top_area">
                <div class="list_search_result">
                    <b>조회기간</b>2020년 12월
                </div>
                <div class="list_top_btn_box">
                    <select>
                        <option>전체보기</option>
                    </select>
                </div>
            </div>-->
            <!-- Info list Top -->
            <div class="con_info_top">
                <table>
                    <thead>
                    <tr>
                        <th colspan="3">사용업체현황</th>
                        <th colspan="5">단말기운영현황</th>
                        <th colspan="3">무선인터넷 운영 현황</th>
                    </tr>
                    <tr>
                        <th >등록업체</th>
                        <th >이용업체</th>
                        <th >운영현장</th>
                        <th >NS200</th>
                        <th >LV9000</th>
                        <th >NS3000</th>
                        <th >G3+</th>
                        <th >SpeedfaceV5L</th>
                        <th >LG</th>
                        <th >SKT</th>
                        <th >KT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>데이터뿌려야됨</td>
                        <td>데이터뿌려야됨</td>
                        <td>데이터뿌려야됨</td>
                        <th:block th:each="deviceTotalCountTop:${deviceTotalCountTop}">
                        <td th:text="${deviceTotalCountTop.deviceKindNo1}">NS-200</td>
                        <td th:text="${deviceTotalCountTop.deviceKindNo2}">NS-200</td>
                        <td th:text="${deviceTotalCountTop.deviceKindNo3}">NS-200</td>
                        <td th:text="${deviceTotalCountTop.deviceKindNo4}">NS-200</td>
                        <td th:text="${deviceTotalCountTop.deviceKindNo5}">NS-200</td>
                        </th:block>
                        <th:block th:each="wirelessEquipmentTotalCountTop:${wirelessEquipmentTotalCountTop}">
                        <td th:text="${wirelessEquipmentTotalCountTop.wirelessEquipmentcnt1}">LG</td>
                        <td th:text="${wirelessEquipmentTotalCountTop.wirelessEquipmentcnt2}">LG</td>
                        <td th:text="${wirelessEquipmentTotalCountTop.wirelessEquipmentcnt3}">LG</td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- List Table -->
            <div class="list_table">
                <table>
                    <thead>
                    <tr>
                        <th rowspan="2" class="sz_50">No</th>
                        <th rowspan="2" class="sz_100">업체명</th>
                        <th rowspan="2">운영현장</th>
                        <th rowspan="2">종료현장</th>
                        <th colspan="5">운영단말기</th>
                        <th colspan="3">무선인터넷</th>
                    </tr>
                    <tr>
                        <th>NS200</th>
                        <th>LV9000</th>
                        <th>NS3000</th>
                        <th>G3+</th>
                        <th>SpeedfaceV5L</th>
                        <th>LG</th>
                        <th>SKT</th>
                        <th>KT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${pageList.resultList}">
                    <tr>
                        <td th:text="${list.rnum}">1</td>
                        <td th:text="${list.companyName}">입고예정</td>
                        <td th:text="${list.ycnt}"><a href="#">운영현장</a></td>
                        <td th:text="${list.ncnt}">현대ENG-관악 뉴포레</td>
                        <td th:text="${list.deviceKindNo1}">지엠테크</td>
                        <td th:text="${list.deviceKindNo2}">지엠테크</td>
                        <td th:text="${list.deviceKindNo3}">지엠테크</td>
                        <td th:text="${list.deviceKindNo4}">지엠테크</td>
                        <td th:text="${list.deviceKindNo5}">지엠테크</td>
                        <td th:text="${list.wirelessEquipmentcnt1}">5</td>
                        <td th:text="${list.wirelessEquipmentcnt2}">5</td>
                        <td th:text="${list.wirelessEquipmentcnt3}">5</td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <th:block th:replace="_fragment/common :: pageNaviFragment"></th:block>
        </div>
    </div>
        <!-- Content List //////////////////// -->
</th:block>
