<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.pe.inface.hub.service.matrl.mapper.MatrlClmMapper">

<!-- 자재청구목록 조회 -->
<select id="getMatrlClmList" parameterType="MatrlClmVO" resultType="MatrlClmVO"><![CDATA[
/* matrl.MatrlClmMapper.getMatrlClmList */
SELECT
        MC.MATRL_CLM_NO, MC.CMPNY_ID
      , MC.CLM_STAT_CD, MC.CLM_DT, MC.DTL_QTY
      , MC.WORK_SITE_ID, WS.SITE_NM
FROM
        MATRL_CLM MC
        LEFT OUTER JOIN WORK_SITE WS ON WS.WORK_SITE_ID = MC.WORK_SITE_ID
WHERE   1 = 1
AND     MC.CMPNY_ID = #{cmpnyId, jdbcType=VARCHAR}
AND     ( #{workSiteId, jdbcType=VARCHAR} IS NULL OR MC.WORK_SITE_ID = #{workSiteId, jdbcType=VARCHAR} )
AND     ( #{clmStatCd, jdbcType=VARCHAR} IS NULL OR MC.CLM_STAT_CD = #{clmStatCd, jdbcType=VARCHAR} )
AND     CLM_DT >= #{clmDt, jdbcType=VARCHAR}
ORDER BY
        CLM_DT DESC
      , MATRL_CLM_NO DESC
]]></select>


<!-- 자재청구 조회 -->
<select id="getMatrlClm" parameterType="String" resultType="MatrlClmVO"><![CDATA[
/* matrl.MatrlClmMapper.getMatrlClm */
SELECT
		MC.MATRL_CLM_NO, MC.CLM_STAT_CD, MC.CLM_DT
      , MC.CLM_CHARGR_ID
      , CU.LOGIN_ID AS CLM_CHARGR_LOGIN_ID
      , CU.USER_NM AS CLM_CHARGR_NM
      , MC.REMARK
      , MC.IN_ADDR_ZIPCD, MC.IN_ADDR
      , MC.IN_ADDR_REMARK, MC.IN_GATE_NO
      , MC.IN_CHARGR_NM, MC.IN_CHARGR_TEL
      , MC.IN_REMARK
      , MC.WORK_SITE_ID, MC.CMPNY_ID
      , WS.SITE_NM
FROM
        MATRL_CLM MC
        LEFT OUTER JOIN WORK_SITE WS ON WS.WORK_SITE_ID = MC.WORK_SITE_ID
        LEFT OUTER JOIN CMPNY_USER CU ON CU.CMPNY_USER_ID = MC.CLM_CHARGR_ID
WHERE   1 = 1
AND     MC.MATRL_CLM_NO = #{matrlClmNo, jdbcType=VARCHAR}
]]></select>


<!-- 자재청구상세 목록 조회 -->
<select id="getMatrlClmDtlList" parameterType="String" resultType="MatrlClmVO"><![CDATA[
/* matrl.MatrlClmMapper.getMatrlClmDtlList */
SELECT
		MCD.MATRL_CLM_NO, MCD.MATRL_ID
	  , MCD.MATRL_CLM_DTL_NO, MCD.CLM_DTL_STAT_CD
      , MCD.IN_HOPE_DT, MCD.IN_HOPE_HOUR
      , MCD.PREV_CLM_QTY, MCD.CLM_QTY, MCD.APRV_QTY
      , MCD.REQ_DESC, MCD.REMARK
      , VMI.MATRL_MCTG_ID, VMI.MCTG_NM
      , VMI.MATRL_CTG_ID, VMI.CTG_NM
      , VMI.MATRL_ITEM_ID, VMI.ITEM_NM
      , M.MATRL_STD
FROM
        MATRL_CLM_DTL MCD
      , MATRL M
      , V_MATRL_ITEM VMI
WHERE   1 = 1
AND     MCD.MATRL_CLM_NO = #{matrlClmNo, jdbcType=VARCHAR}
AND     MCD.MATRL_ID = M.MATRL_ID
AND     M.MATRL_ITEM_ID = VMI.MATRL_ITEM_ID
ORDER BY
        MCD.MATRL_CLM_DTL_NO
]]></select>


<!-- 자재청구승인 목록 조회 -->
<select id="getMatrlClmAprvList" parameterType="String" resultType="MatrlClmAprvVO"><![CDATA[
/* matrl.MatrlClmMapper.getMatrlClmAprvList */
SELECT
        MCA.MATRL_CLM_NO, MCA.APRV_SEQ
      , MCA.APRVR_ID, MCA.APRV_STAT_CD
      , MCA.APRV_DTS
      , MCA.REMARK
      , CU.LOGIN_ID AS APRVR_LOGIN_ID
      , CU.USER_NM AS APRVR_USER_NM
FROM
        MATRL_CLM_APRV MCA
        LEFT OUTER JOIN CMPNY_USER CU ON CU.CMPNY_USER_ID = MCA.APRVR_ID
WHERE   1 = 1
AND     MCA.MATRL_CLM_NO = #{matrlClmNo, jdbcType=VARCHAR}
ORDER BY
        APRV_SEQ
]]></select>


<!-- 자재청구파일 목록 조회 -->
<select id="getMatrlClmFileList" parameterType="String" resultType="MatrlClmFileVO"><![CDATA[
/* matrl.MatrlClmMapper.getMatrlClmFileList */
SELECT
        MATRL_CLM_NO, FILE_SEQ
      , USE_YN
      , FILE_DESC, FILE_PATH, FILE_NM
FROM
        MATRL_CLM_FILE MCF
WHERE   1 = 1
AND     MATRL_CLM_NO = #{matrlClmNo, jdbcType=VARCHAR}
AND     USE_YN = 'Y'
ORDER BY
        FILE_SEQ
]]></select>

</mapper>