@CHARSET "UTF-8";

/* Search Area Button */
.BTNS {display:block;padding:0 10px;border-radius:3px;background-color:#555555;border:1px solid #333333;text-align:center;}
.BTNS span {display:inline-block;line-height:28px;color:#ffffff;}
.BTNS.icon span {padding-right:18px;background-repeat:no-repeat;background-position:right center;background-size:14px;}
/* Button Color */
.BTNS.regist {background-color:#00519d;}
.BTNS.search {background-color:#00519d;}
.BTNS.reset {background-color:#578500;}
.BTNS.add {background-color:#141414;}
.BTNS.edit {background-color:#ff4900;}
.BTNS.list {background-color:#141414;}
.BTNS.save {background-color:#004ccd;}
.BTNS.save_extra {background-color:#4a4a4a;}
.BTNS.confirm {background-color:#0059c4;}
.BTNS.setup {background-color:#444444;}
.BTNS.import {background-color:#0074ab;}
.BTNS.cancel {background-color:#aaaaaa;}
.BTNS.cancel_gr {background-color:#447100;}
.BTNS.reject {background-color:#ff0000;}
.BTNS.exchange {background-color:#ff7400;}
.BTNS.preview {background-color:#0077dc;}
.BTNS.download {background-color:#444444;}
.BTNS.write {background-color:#444444;}
.BTNS.select {background-color:#00519d;}
.BTNS.lock {background-color:#ffffff;}
.BTNS.out {background-color:#444444;}
.BTNS.print {background-color:#0078f6;}
/* Button Icon */
.icon.regist span {background-image:url("../images/icon_check.svg");}
.icon.search span {background-image:url("../images/icon_search.svg");}
.icon.reset span {background-image:url("../images/icon_reset.svg");}
.icon.add span {background-image:url("../images/icon_add.svg");}
.icon.edit span {background-image:url("../images/icon_edit.svg");}
.icon.list span {background-image:url("../images/icon_list.svg");}
.icon.save span {background-image:url("../images/icon_save.svg");}
.icon.save_extra span {background-image:url("../images/icon_save.svg");}
.icon.confirm span {background-image:url("../images/icon_confirm.svg");}
.icon.setup span {background-image:url("../images/icon_setup.svg");}
.icon.import span {background-image:url("../images/icon_import.svg");}
.icon.cancel span {background-image:url("../images/icon_cancel.svg");}
.icon.cancel_gr span {background-image:url("../images/icon_cancel.svg");}
.icon.reject span {background-image:url("../images/icon_reject.svg");}
.icon.exchange span {background-image:url("../images/icon_exchange.svg");}
.icon.preview span {background-image:url("../images/icon_preview.svg");}
.icon.download span {background-image:url("../images/icon_download.svg");}
.icon.write span {background-image:url("../images/icon_write.svg");}
.icon.select span {background-image:url("../images/icon_check.svg");}
.icon.lock span {background-image:url("../images/icon_lock_black.svg");color:#333333;}
.icon.out span {background-image:url("../images/icon_exit.svg");}
.icon.print span {background-image:url("../images/icon_print.svg");}