@CHARSET "UTF-8";

@import url("../fonts/font_noto.css");

html {margin:0px;padding:0px;}
body
{
	margin:0px;
	padding:0px;
	font-family:"Noto Sans Korean", Malgun Gothic, dotum, Verdana, sans-serif;
	font-size:12px;
	color:#666666;
}
div, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, span, strong, p, a, td, th
{
	margin:0px;
	padding:0px;
	font-family:"Noto Sans Korean", Malgun Gothic, dotum, Verdana, sans-serif;
	font-size:12px;
	list-style:none;
	word-break:break-all;
	transition:all .2s ease 0s;
}
img {border:none;vertical-align:middle;}
span {vertical-align:middle;}
form, legend, fieldset {margin:0;padding:0;border:none;}
caption, legend {display:none;}
/* default link */
a:link {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;}
/* Input */
input {margin:0;padding:0;border-radius:3px;border:1px solid #cccccc;background-color:#ffffff;color:#555555;}
input::-webkit-input-placeholder {color:#bbbbbb;}
input::-ms-input-placeholder {color:#bbbbbb;}
input::-moz-input-placeholder {color:#bbbbbb;}
input[type~="text"] {}
input[type~="password"] {text-align:center;font-weight:800;}
input[type~="radio"] {border:none;}
input[type~="checkbox"] {border:none;}
input[type~="button"] {border:none;cursor:pointer;}
select {margin:0;padding:0;border-radius:3px;border:1px solid #cccccc;background-color:#ffffff;}
textarea {margin:0;padding:0;border-radius:3px;border:1px solid #cccccc;background-color:#ffffff;color:#000000;vertical-align:top;}
.inputExcelFileName{
	border-radius:3px;border:1px solid #141414;background-color:#ffffff;color:#555555;
	width: 200px; height: 20px; padding: 3px 1px; margin-right: 30px;}
/* ************** Table Style ************** */
table {margin:0;padding:0;width:100%;border-spacing:0;border-collapse:collapse;}
table th {padding:5px;line-height:22px;background-color:#f2f2f2;border:1px solid #cccccc;font-weight:400;font-size:13px;}
/* table tr:last-child th {border-bottom-color:#cccccc;} */
table td {padding:5px;line-height:22px;text-align:center;border:1px solid #cccccc;color:#000000;font-size:13px;background-repeat:no-repeat;background-position:center center;background-size:20px;}
table td.red {padding:5px;line-height:22px;text-align:center;border:1px solid #cccccc;color:#000000;font-size:13px;background-repeat:no-repeat;background-position:center center;background-size:20px; color: #ff0000}
table td a {color:#0092ff;font-size:13px;}
table td a.btn_x {margin:0 3px;padding-right:12px;background:url("../images/icon_cancel_black.svg") no-repeat right center;background-size:10px;}
.hTable th {border-color:#cccccc !important;text-align:left;padding:10px;width:30%;}
.hTable td {text-align:left;padding:10px;}
table .t_left {text-align:left;}
table .t_right {text-align:right;}
table .t_right input {text-align:right;}
table .t_center input {text-align:center;}
table .t_img 
{
	display:block;
	margin:0 auto;
	padding:5px;
	width:80px;
	height:80px;
	text-align:center;
	border:1px solid #cccccc;
	background-color:#f1f1f1;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:40px;
	background-image:url("../images/icon_no_photos_black.svg");
}
table .t_img img {width:100%;height:100%;cursor:pointer;}
table .grey {background-color:#f2f2f2;}
table .act {background-color:#d6eeff;}
table .ing {background-color:#f9ffed;}
table .acc {background-color:#fffdf3;}
table .def {background-color:#ffeae8;}
table .org {background-color:#fff2eb;}
table .gre {background-color:#f5ffd5;}
table .total {background-color:#e8ffff;font-weight:700;}
table .total_top {background-color:#fffdf3;font-weight:700;}
table .total_grey {background-color:#f4f4f4;font-weight:700;}
/* Table in Input */
table td .t_inp {padding:0 5px;width:calc(100% - 12px);height:26px;line-height:26px;border-color:#a0a0a0;background-color:#ffffff;}
table .hp .t_inp {margin:0 2px;width:calc(100% / 3 - 28px);}/* Hand Phone */
table td .t_inp.center {text-align:center;}
table td .t_inp.hold {background-color:#f8f8f8;}
table td .t_inp.txt_write {height:70px;}
table td .t_inp.w400 {width:400px !important;}
table td input.t_inp {background-color:#f8f8f8;}
table td .t_select {min-width:150px;height:28px;border-color:#aaaaaa;background-color:#ffffff;}
/* Table Size */
table .sz_300 {width:300px;}
table .sz_200 {width:200px;}
table .sz_160 {width:160px;}
table .sz_120 {width:120px;}
table .sz_100 {width:100px;}
table .sz_90 {width:90px;}
table .sz_80 {width:80px;}
table .sz_70 {width:70px;}
table .sz_60 {width:60px;}
table .sz_50 {width:50px;}
table .img_list img {max-width:100%;}
table .man span {display:block;}
table.wt th {padding:10px;}
table.wt td {padding:10px;}
/* Table in Button */
table td .tb_btn 
{
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	margin:2px;
	padding:0 10px;
	min-width:50px;
	line-height:22px;
	border-radius:3px;
	background-color:#007cff;
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
	color:#ffffff;
}
table td .tb_btn.delete {background-color:#464646;}
table td .tb_btn.view {background-color:#ffffff;box-shadow:inset 0 0 0 1px #aaaaaa;color:#555555;}
table td .tb_btn.not {background-color:#9d9d9d;}
table td .tb_btn.order {padding:0;min-width:26px;text-indent:-9999px;box-shadow:inset 0 0 0 1px #aaaaaa;background-color:#efefef;background-size:12px;}
table td .tb_btn.order.up {background-image:url("../images/icon_up.svg");}
table td .tb_btn.order.down {background-image:url("../images/icon_down.svg");}
table td.checked {background-image:url("../images/icon_check_black.svg");text-indent:-9999px;}
/* File Upload */
.filebox {position:relative;overflow:hidden;display:flex;justify-content:space-between;height:26px;border-radius:3px;border:1px solid #488bd0;}
.filebox .fileinp {position:absolute;padding:0;margin:-1px;width:1px;height:1px;overflow: hidden;clip:rect(0,0,0,0);border:0;}
.filebox .file_search
{
	display:block;
	margin:2px;
	width:50px;
	line-height:22px;
	background-color:#0072e6;
	border-radius:3px;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}
.filebox .upload-name
{
	padding:0 10px;
	width:calc(100% - 70px);
	background-color: #ffffff;
	border:0;
	-webkit-appearance:none; /* 네이티브 외형 감추기 */
	-moz-appearance:none;
	appearance:none;
}

/* ********************** HEAD AREA ********************** */
.head_min_size {margin:0 auto;width:1600px;}
/* Info */
.Head_info {padding:5px 0;width:100%;background-color:#f0f0f0;}
.Head_info .info_box {display:flex;justify-content:space-between;}
.Head_info .info_box ul {display:flex;justify-content:flex-start;}
.Head_info .info_box ul li {height:20px;line-height:20px;}
.Head_info .info_box ul li.date {color:#000000;}
.Head_info .info_box ul:first-child li {margin-right:10px;}
.Head_info .info_box ul:last-child {display:flex;justify-content:flex-end;}
.Head_info .info_box ul:last-child li {margin-left:10px;}
.Head_info .head_logout {display:block;padding:0 10px;background-color:#666666;}
.Head_info .head_logout span 
{
	display:block;
	padding-right:10px;
	height:20px;
	line-height:20px;
	color:#ffffff;
	font-size:11px;
	background:url("../images/arr_small_btn.svg") no-repeat right center;
}
.Head_info .info_box b {color:#000000;font-weight:600;}
/* Menu */
.Head_menu {background-color:#00A887;}/* GNB Menu BG Color */
.Head_menu .menu_box {display:flex;justify-content:space-between;}
.Head_menu .logo_head {display:block;width:110px;height:60px;text-indent:-9999px;background:url("../images/logo_top.svg") no-repeat center center;background-size:auto 40px;}
.Head_menu ul {display:flex;justify-content:flex-end;width:calc(100% - 140px);}
.Head_menu ul li {position:relative;width:calc(100% / 7);}
.Head_menu ul li:hover {background-color:#006c56;}/* GNB Menu Hover Color */
.Head_menu ul li.marked {background-color:#00392E;}/* GNB Menu Selected Color */
.Head_menu li:nth-child(1) .SUBMENU {left:0px;}
.Head_menu li:nth-child(2) .SUBMENU {left:-210px;}
.Head_menu li:nth-child(3) .SUBMENU {left:-420px;}
.Head_menu li:nth-child(4) .SUBMENU {left:-630px;}
.Head_menu li:nth-child(5) .SUBMENU {right:-420px;}
.Head_menu li:nth-child(6) .SUBMENU {right:-105px;}
.Head_menu li:nth-child(7) .SUBMENU {right:0px;}
.Head_menu .GNB {display:block;height:60px;line-height:60px;text-align:center;font-size:16px;font-weight:500;color:#ffffff;}
/* Category Menu Size - COMPANY */
body.COMPANY .Head_menu ul li {width:calc(100% / 6);}
body.COMPANY .Head_menu .SUBMENU ul li {width:243px;}
body.COMPANY .Head_menu li:nth-child(2) .SUBMENU {left:-123px;}
body.COMPANY .Head_menu li:nth-child(3) .SUBMENU {left:-243px;}
body.COMPANY .Head_menu li:nth-child(4) .SUBMENU {left:-243px;}
body.COMPANY .Head_menu li:nth-child(5) .SUBMENU {right:-243px;}
body.COMPANY .Head_menu li:nth-child(6) .SUBMENU {right:0px;}
/* Category Menu Size - VENDOR */
body.VENDOR .Head_menu ul li {width:calc(100% / 7);}
body.VENDOR .Head_menu .SUBMENU ul li {width:210px;}
body.VENDOR .Head_menu li:nth-child(1) .SUBMENU {left:0px;}
body.VENDOR .Head_menu li:nth-child(2) .SUBMENU {left:0px;}
body.VENDOR .Head_menu li:nth-child(3) .SUBMENU {left:-210px;}
body.VENDOR .Head_menu li:nth-child(4) .SUBMENU {left:-630px;}
body.VENDOR .Head_menu li:nth-child(5) .SUBMENU {left:-105px;}
body.VENDOR .Head_menu li:nth-child(6) .SUBMENU {right:-105px;}
body.VENDOR .Head_menu li:nth-child(7) .SUBMENU {right:0px;}
/* SUB MENU DEFAULT SIZE */
.Head_menu .SUBMENU {position:absolute;top:60px;}
.Head_menu .SUBMENU ul {display:flex;justify-content:flex-start;width:auto;}
.Head_menu .SUBMENU ul li {width:210px;}
.Head_menu .SUBMENU .SUB {display:block;height:40px;line-height:50px;border-bottom:10px solid transparent;text-align:center;color:#adffed;font-size:15px;}
.Head_menu .SUBMENU ul li:hover {background:none;}
.Head_menu .SUBMENU ul li:hover .SUB {color:#B1FF00;border-color:rgb(255 255 255 / 30%);}
.Head_menu .SUBMENU ul li .SUB.marked {border-color:#ffffff;color:#B1FF00;}
/* Sub Menu Area */
.Head_subm {background-color:#00392E;height:50px;}/* Sub Menu Area Color */
.Head_subm .logo_head_txt {display:block;width:110px;height:50px;text-indent:-9999px;background:url("../images/logo_top_txt.svg") no-repeat center center;background-size:contain;}
/* ********************** Footer Area ********************** */
.FOOTER_AREA {padding:20px 0;border-top:1px solid #aaaaaa;}
.Foot_box {display:flex;justify-content:space-between;margin:0 auto;width:1600px;}
.foot_logo {display:block;width:110px;height:60px;text-indent:-9999px;background:url("../images/logo_foot.svg") no-repeat center center;background-size:auto 40px;}
.foot_text p {display:block;height:30px;text-align:right;font-size:13px;color:#555555;}
.foot_text .adress {line-height:34px;}
.foot_text .copyright {line-height:14px;font-size:11px;color:#888888;}

/* Calendar Select */
.date_inp {display:flex;justify-content:flex-start;position:relative;margin-right:10px;padding:2px;border-radius:3px;background-color:#888888;}
.date_inp .date_inp 
{
	cursor:pointer;
	margin:0;
	padding:0 5px;
	width:100px;
	color:#000000;
	border-color:#333333;
	border-left-width:0;
	border-radius:0;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	background-color:#ffffff;
}
.date_inp .iconDate 
{
	display:block;
	width:26px;
	border:1px solid #333333;
	border-right-width:0;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	box-shadow:inset 0 0 0 1px #ffffff;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:16px;
	background-image:url("../images/icon_calendar_black.svg");
}
.date_inp .dtx {display:block;margin:0 4px;line-height:26px;color:#ffffff;}

/* ********************** Content Area ********************** */
body.SIZE_DEFAULT .PAGE_BODY {width:1600px;}
.PAGE_BODY {margin:0 auto;padding:30px 5px;width:calc(100% - 10px);min-width:1200px;}
.page_title 
{
	display:block;
	position:relative;
	margin-bottom:5px;
	margin-left:5px;
	padding-left:20px;
	height:24px;
	line-height:24px;
	font-size:17px;
	font-weight:700;
	color:#000000;
	letter-spacing:-1px;
	background:url("../images/title-bullet-h1.svg") no-repeat left center;
	background-size:16px;
}
.tit_btn_area {position:absolute;bottom:0;right:5px;display:flex;justify-content:flex-end;}
.tit_btn_area .BTNS {margin-left:5px;padding:0 20px;}
.tit_btn_area .BTNS span {line-height:28px;}
.page_title b {color:#005de7;margin-left:10px;}
.page_title b::before {content:"- ";}
.page_top {margin-bottom:20px;}
.top_guide_txt {display:block;margin:0 10px;padding-left:14px;line-height:30px;background:url("../images/icon_star_black.svg") no-repeat left center;background-size:10px;color:#0066d2}
.bottom_guide_txt {display:block;margin:10px;line-height:20px;color:#0078ff;}
.center_guide_txt {display:block;margin:10px;line-height:20px;color:#0078ff;text-align:center;}
.con_search_box {display:flex;justify-content:space-between;margin-bottom:10px;padding:10px;border-radius:3px;border:1px solid #8B8B8B;background-color:#e4e4e4;}
.search_inp_box {display:flex;justify-content:flex-start;height:30px;}
.search_inp_box .top_inp {margin-right:5px;padding:0 10px;border-color:#333333;color:#000000;}
.search_inp_box .BTNS {margin-right:5px;}
.search_inp_box .BTNS span {line-height:28px;}
.search_inp_box input {width:200px;}
.con_search_box .fuc_btns_box {display:flex;justify-content:flex-end;height:30px;}
.con_search_box .fuc_btns_box .BTNS {margin-left:5px;}
.con_info_top {border-top:1px solid #8B8B8B;margin-bottom:20px;}
.con_info_top th {background-color:#f0f8ff;border-color:#bcd0de;}
.LIST_BOX {margin-bottom:20px;}
.list_top_area {display:flex;justify-content:space-between;margin-bottom:5px;padding:0 5px;}
.list_top_area div {height:30px;}
.list_top_area .list_search_result 
{
	line-height:28px;
	padding-left:14px;
	background-repeat:no-repeat;
	background-position:left center;
	background-size:9px;
	background-image:url("../images/title-bullet-rec.svg");
	font-size:14px;
	font-weight:400;
	color:#EA0063;
}
.list_top_area.midt .list_search_result {margin-top:10px;padding-left:20px;font-size:16px;font-weight:700;background-image:url("../images/title-bullet-h1.svg");background-size:16px;}
.list_top_area.midt .list_search_result b {font-weight:700;}
.list_top_area.midt .list_top_btn_box {padding-top:10px;}
.list_top_area .list_search_result.blue {color:#004fd4;}
.list_top_area .list_search_result.black {color:#000000;}
.list_top_area .list_search_result b {margin-right:10px;color:#333333;font-weight:500;}
.list_top_area .list_search_result span {
	line-height:28px;
	font-size:13px;
	font-weight: 500;
	color:#EA0063;}
.list_top_area .list_top_btn_box {display:flex;justify-content:flex-end;}
.list_top_area .list_top_btn_box select {min-width:100px;height:30px;line-height:30px;border-color:#555555;margin-left:5px;}
.list_top_area .list_top_btn_box input {height:28px;line-height:28px;border-color:#555555;margin-left:5px;}
.list_top_area .list_top_btn_box .BTNS {margin-left:4px;}
.list_top_area .list_top_btn_box .BTNS span {line-height:28px;}
.list_table {border-top:1px solid #555555;margin-bottom:20px;}
.list_table.top th {background-color:#f0f8ff;}
.ListButtonArea {display:flex;justify-content:center;padding-top:30px;margin-bottom:30px;}
.ListButtonArea .BTNS {margin:0 3px;min-width:100px;}
.ListButtonArea .BTNS span {line-height:40px;font-size:15px;}
/* ********************** User Info Detail ********************** */
.user_info_detail 
{
	display:flex;
	justify-content:space-between;
	padding:10px;
	border:1px solid #cccccc;
	background-color:#efefef;
}
.user_info_detail .user_img 
{
	margin-right:10px;
	padding:10px;
	width:calc(200px - 22px);
	height:calc(200px - 22px);
	border:1px solid #aaaaaa;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:80px;
	background-image:url("../images/icon_no_photos_black.svg");
}
.user_info_detail .user_img img {cursor:pointer;width:100%;height:100%;}
.user_info_detail .user_info 
{
	width:calc(100% - 212px);
	background-color:#ffffff;
	border:1px solid #aaaaaa;
}
.user_info_detail .user_info ul {display:flex;justify-content:flex-start;height:137px;line-height:137px;}
.user_info_detail .user_info ul li {width:calc(100% / 6);text-align:center;font-size:15px;box-shadow:inset 1px 0 0 #cccccc;}
.user_info_detail .user_info ul li:first-child {box-shadow:none;}
.user_info_detail .user_info ul.header {height:60px;line-height:60px;background-color:#f1f1f1;border-bottom:1px solid #cccccc;}
/* ********************** Tab Area ********************** */
.con_TAB {display:flex;justify-content:flex-start;box-shadow:inset 0 -1px 0 #989898;margin-bottom:10px;}
.con_TAB .cTab 
{
	display:block;
	margin-right:2px;
	width:calc(100% / 8 - 4px);
	line-height:39px;
	text-align:center;
	color:#666666;
	font-size:13px;
	background-color:#efefef;
	border:1px solid #dddddd;
	border-bottom-color:#989898;
}
.con_TAB .cTab.marked {border-bottom-width:0;line-height:40px;background-color:#ffffff;border-color:#989898;color:#000000;}
/* ********************** Popup Area ********************** */
.popup_frame {position:relative;padding:20px;border:3px solid #00A887;box-sizing:border-box;}
.popup_title {display:block;position:relative;margin-bottom:10px;margin-left:5px;padding-left:20px;height:40px;line-height:40px;color:#000000;font-size:17px;font-weight:700;letter-spacing:-1px;background:url("../images/title-bullet-h1.svg") no-repeat left center;background-size:16px;}
.popup_title b {margin-left:10px;color:#0059dc;}
.popup_title b::before {content:"- ";}
.popup_close {display:block;position:absolute;top:-5px;right:-5px;width:50px;height:50px;text-indent:-9999px;background:url("../images/icon_close_black.svg") no-repeat center center;background-size:24px;}
.popTop {margin-bottom:20px;}
.pop_info_top {border-top:1px solid #888888;margin-bottom:10px;}
.pop_info_top table th {background-color:#f0f8ff;border-color:#bcd0de;}
.pop_search_box {display:flex;justify-content:space-between;margin-bottom:5px;padding:10px;border-radius:3px;border:1px solid #8B8B8B;background-color:#e4e4e4;}
.pop_search_inp_box {display:flex;justify-content:flex-start;height:30px;}
.pop_search_inp_box .top_inp {margin-right:5px;padding:0 10px;border-color:#333333;color:#000000;}
.pop_search_inp_box .top_inp.solo {width:calc(300px - 12px);}
.pop_search_inp_box .BTNS {margin-right:5px;}
.pop_search_inp_box .BTNS span {line-height:28px;}
.pop_search_inp_box input {width:200px;}
.pop_search_inp_box input.w400 {width:400px;}
.pop_search_inp_box input.w600 {width:600px;}
.pop_search_inp_box input.w910 {width:910px;}
.pop_search_box .fuc_btns_box {display:flex;justify-content:flex-end;height:30px;}
.pop_search_box .fuc_btns_box .BTNS {margin-left:5px;}
.pop_option {display:flex;justify-content:space-between;margin-bottom:5px;padding:10px;border-radius:3px;border:1px solid #cccccc;background-color:#fbfbfb;}
.pop_option .op_in_box {display:flex;justify-content:flex-start;}
.pop_option .op_in_box.btn {display:flex;justify-content:flex-end;}
.pop_option .op_in_box .op_t {display:block;margin-right:10px;height:24px;line-height:24px;color:#000000;font-size:13px;}
.pop_option .op_in_box .op_t.tit {margin-right:20px;font-weight:700;}
.pop_option .op_in_box .op_t input[type~="radio"] {margin:2px;width:20px;height:20px;vertical-align:top;}
.pop_option .op_in_box input[type~="text"] {border-color:#666666;margin-right:5px;padding:0 5px;width:50px;text-align:right;}
.pop_option .op_in_box .BTNS {margin-left:5px;}
.pop_option .op_in_box .BTNS span {line-height:22px;}
.pop_content {margin-bottom:20px;}
.pop_table {border-top:1px solid #555555;margin-bottom:10px;}
.pop_select_area {display:flex;justify-content:center;padding:10px;background-color:#efefef;border:1px solid #cccccc;}
.pop_select_area .ps_in {margin:10px;font-size:15px;line-height:20px;}
.pop_select_area input[type~="radio"] {width:20px;height:20px;vertical-align:top;margin:0 5px;}
.pop_btns {display:flex;justify-content:center;}
.pop_btns .BTNS {margin:0 3px;min-width:100px;}
.pop_btns .BTNS span {line-height:40px;font-size:15px;}
.buy_stop {background-color:#fff1f1;}
.guide_con_txt {padding:20px;border-top:1px solid #666666;text-align:center;color:#0074ff;font-size:15px;}
.conf_end_txt {margin-top:10px;padding:20px;background-color:#e3f1ff;border:1px solid #c1e0ff;text-align:center;color:#0074ff;font-size:15px;}
.pop_img_viewBox {padding:5px;background-color:#e2e2e2;border:1px solid #cccccc;}
.pop_img_list_box {}
.pop_img_list_box .img_view 
{
	width:100%;
	min-height:300px;
	overflow:hidden;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:150px;
	background-image:url("../images/icon_truck.svg");
}
.pop_img_list_box .img_view img {width:100%;}
.img_thum_box 
{
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
	padding:1px;
	width:calc(100% - 2px);
	background-color:#aaaaaa;
}
.img_thum_box .img_thum 
{
	float:left;
	display:block;
	position:relative;
	margin:2px;
	border:1px solid #444444;
	width:calc(100% / 5 - 6px);
	height:70px;
	overflow:hidden;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:40px;
}
.img_thum_box .img_thum .inframe {display:block;position:absolute;top:0;left:0;width:calc(100% - 8px);height:calc(100% - 8px);border:4px solid #ffffff;opacity:0.0;}
.img_thum_box .img_thum.marked .inframe {opacity:1.0;}
.img_thum_box .img_thum img {width:100%;height:70px;}
.img_thum_box .delete_img 
{
	cursor:pointer;
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:30px;
	height:30px;
	text-indent:-9999px;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:16px;
	background-image:url("../images/icon_cancel_black.svg");
}
.img_thum_box .img_thum .add_txt {display:none;position:absolute;bottom:0;left:0;width:100%;line-height:30px;text-align:center;color:#ffffff;}
.img_thum_box .img_thum.img_add {float:right;background-color:transparent;border-color:transparent;background-image:url("../images/icon_add.svg");}
/* 2021-09-02 추가*/
.pop_textarea_long textarea {box-sizing:border-box;padding:10px;width:100%;border-color:#84b5ff;background-color:#ebf3ff;}

/** 팝업관련 - 추가 **/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 400px; /* Could be more or less, depending on screen size */
}

label[for="goCancel"], label[for="goRegist"], label[for="goUpdate"]{
	margin: 0 auto;
	cursor: pointer;
	padding: 3px 15px;
	background-color: #ffffff;
	text-align: center;
	margin: 2px;
	border: 1px ridge #c8c8c8;
}

