<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<h1 class="page_title">공급업체 설정</h1>
<div class="page_top">
	<!-- Search Area -->
	<div class="con_search_box">
		<!-- Select -->
		<div class="search_inp_box">
			<select class="top_inp">
				<option>중분류명</option>
			</select>
			<select class="top_inp">
				<option>소분류명</option>
			</select>
			<select class="top_inp">
				<option>품목명</option>
			</select>
			<select class="top_inp">
				<option>공급업체명</option>
			</select>
			<input type="text" class="top_inp" placeholder="품목명 or 공급업체명을 입력하세요" />
			<a href="#" class="BTNS icon search"><span>검색</span></a>
			<a href="#" class="BTNS icon reset"><span>초기화</span></a>
		</div>
		<!-- Button Area -->
		<div class="fuc_btns_box">
			<!-- 버튼이 있는 경우 노출 -->
		</div>
	</div>
</div>
<!-- //////////////////// Content List -->
<div class="LIST_BOX">
	<!-- Info list Top -->
	<div class="con_info_top">
		<table>
			<thead>
				<tr>
					<th>대분류</th>
					<th>소분류</th>
					<th>등록 품목</th>
					<th>세부품목</th>
					<th>공급업체</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>xx</td>
					<td>xx</td>
					<td>xxx</td>
					<td>xx,xxx</td>
					<td>xxx</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Search Result, buttons -->
	<div class="list_top_area">
		<div class="list_search_result">
			<b>검색결과</b>xx,xxx개의 세부품목이 있습니다.
		</div>
		<div class="list_top_btn_box">
			<a href="#" class="BTNS icon setup"><span>구매방식 일괄설정</span></a>
			<a href="#" class="BTNS icon setup"><span>공급업체 일괄설정</span></a>
		</div>
	</div>
	<div class="list_table">
		<table>
			<thead>
				<tr>
					<th>No</th>
					<th>중분류</th>
					<th>소분류</th>
					<th>품목</th>
					<th>공급업체수(구매,임대)</th>
					<th>공급업체</th>
					<th>최종수정일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mi : ${miList}">
					<td>xx</td>
			        <td th:text="${mi.mctgNm}">mctgNm</td>
			        <td th:text="${mi.ctgNm}">ctgNm</td>
			        <td th:text="${mi.itemNm}">itemNm</td>
			        <td th:text="|${mi.cntrtCmpnyCnt10},${mi.cntrtCmpnyCnt20}|">0,0</td>
			        <td>
			            <a th:href="@{/cmpny/matrl/matrlItemCntrtList(matrlItemId=${mi.matrlItemId})}" target="popup">업체설정</a>
			        </td>
					<td>xxxx.xx.xx</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Content List //////////////////// -->

</th:block>