<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<h1>업체 자재품목 목록</h1>

<table border="1">
<thead>
    <tr>
       <th>matrlMctgId 중분류ID</th><th>mctgNm 중분류명</th>
       <th>matrlCtgId 소분류ID</th><th>ctgNm 소분류명</th>
       <th>matrlItemId 품목ID</th><th>itemNm 품목명</th>
       <th>계약업체수_구매</th>
       <th>계약업체수_구매</th>
       <th>계약업체수_임대</th>
       <th>계약업체수_임대</th>
    </tr>
</thead>
<tbody>
    <tr th:each="mi : ${miList}">
        <td th:text="${mi.matrlMctgId}">matrlMctgId</td>
        <td th:text="${mi.mctgNm}">mctgNm</td>
        <td th:text="${mi.matrlCtgId}">matrlCtgId</td>
        <td th:text="${mi.ctgNm}">ctgNm</td>
        <td th:text="${mi.matrlItemId}">matrlItemId</td>
        <td th:text="${mi.itemNm}">itemNm</td>
        <td th:text="${mi.cntrtCmpnyCnt10}">cntrtCmpnyCnt10</td>
        <td>
            <a href="#" th:href="@{/cmpny/matrl/matrlItemCntrtList(matrlItemId=${mi.matrlItemId}, buyTypeCd=10)}">업체계약설정_구매</a>
        </td>
        <td th:text="${mi.cntrtCmpnyCnt20}">cntrtCmpnyCnt20</td>
        <td>
            <a href="#" th:href="@{/cmpny/matrl/matrlItemCntrtList(matrlItemId=${mi.matrlItemId}, buyTypeCd=20)}">업체계약설정_임대</a>
        </td>
    </tr>
</tbody>
</table>

</th:block>