/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./nanum/NanumGothic-Regular.eot);
  src: url(./nanum/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumGothic-Regular.woff2) format('woff2'),
       url(./nanum/NanumGothic-Regular.woff) format('woff'),
       url(./nanum/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./nanum/NanumGothic-Bold.eot);
  src: url(./nanum/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumGothic-Bold.woff2) format('woff2'),
       url(./nanum/NanumGothic-Bold.woff) format('woff'),
       url(./nanum/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(./nanum/NanumGothic-ExtraBold.eot);
  src: url(./nanum/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(./nanum/NanumGothic-ExtraBold.woff) format('woff'),
       url(./nanum/NanumGothic-ExtraBold.ttf) format('truetype');
}

/*
 * Nanum Gothic Coding (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: url(./nanum/NanumGothicCoding-Regular.eot);
  src: url(./nanum/NanumGothicCoding-Regular.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumGothicCoding-Regular.woff2) format('woff2'),
       url(./nanum/NanumGothicCoding-Regular.woff) format('woff'),
       url(./nanum/NanumGothicCoding-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  src: url(./nanum/NanumGothicCoding-Bold.eot);
  src: url(./nanum/NanumGothicCoding-Bold.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumGothicCoding-Bold.woff2) format('woff2'),
       url(./nanum/NanumGothicCoding-Bold.woff) format('woff'),
       url(./nanum/NanumGothicCoding-Bold.ttf) format('truetype');
}


/*
 * Nanum Brush Script (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Brush Script';
  font-style: normal;
  font-weight: 400;
  src: url(./nanum/NanumBrushScript-Regular.eot);
  src: url(./nanum/NanumBrushScript-Regular.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumBrushScript-Regular.woff2) format('woff2'),
       url(./nanum/NanumBrushScript-Regular.woff) format('woff'),
       url(./nanum/NanumBrushScript-Regular.ttf) format('truetype');
}


/*
 * Nanum Myeongjo (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(./nanum/NanumMyeongjo-Regular.eot);
  src: url(./nanum/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumMyeongjo-Regular.woff2) format('woff2'),
       url(./nanum/NanumMyeongjo-Regular.woff) format('woff'),
       url(./nanum/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 600;
  src: url(./nanum/NanumMyeongjo-Bold.eot);
  src: url(./nanum/NanumMyeongjo-Bold.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumMyeongjo-Bold.woff2) format('woff2'),
       url(./nanum/NanumMyeongjo-Bold.woff) format('woff'),
       url(./nanum/NanumMyeongjo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url(./nanum/NanumMyeongjo-ExtraBold.eot);
  src: url(./nanum/NanumMyeongjo-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumMyeongjo-ExtraBold.woff2) format('woff2'),
       url(./nanum/NanumMyeongjo-ExtraBold.woff) format('woff'),
       url(./nanum/NanumMyeongjo-ExtraBold.ttf) format('truetype');
}

/*
 * Nanum Pen Script (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url(./nanum/NanumPenScript-Regular.eot);
  src: url(./nanum/NanumPenScript-Regular.eot?#iefix) format('embedded-opentype'),
       url(./nanum/NanumPenScript-Regular.woff2) format('woff2'),
       url(./nanum/NanumPenScript-Regular.woff) format('woff'),
       url(./nanum/NanumPenScript-Regular.ttf) format('truetype');
}

/*
 * Nanum Square (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
 font-family: 'NanumSquare';
 font-style: normal;
 font-weight: 300;
 src: url(./nanum/NanumSquareL.eot);
 src: url(./nanum/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(./nanum/NanumSquareL.woff) format('woff'),
      url(./nanum/NanumSquareL.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-style: normal;
 font-weight: 400;
 src: url(./nanum/NanumSquareR.eot);
 src: url(./nanum/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(./nanum/NanumSquareR.woff) format('woff'),
      url(./nanum/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-style: normal;
 font-weight: 700;
 src: url(./nanum/NanumSquareB.eot);
 src: url(./nanum/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(./nanum/NanumSquareB.woff) format('woff'),
      url(./nanum/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-style: normal;
 font-weight: 800;
 src: url(./nanum/NanumSquareEB.eot);
 src: url(./nanum/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(./nanum/NanumSquareEB.woff) format('woff'),
      url(./nanum/NanumSquareEB.ttf) format('truetype');
}

/*
 * Nanum Barun Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(./nanumbarun/NanumBarunGothicUltraLight.eot);
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url(./nanumbarun/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(./nanumbarun/NanumBarunGothicUltraLight.woff2) format('woff2'),
       url(./nanumbarun/NanumBarunGothicUltraLight.woff) format('woff'),
       url(./nanumbarun/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(./nanumbarun/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(./nanumbarun/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(./nanumbarun/NanumBarunGothicLight.woff2) format('woff2'),
       url(./nanumbarun/NanumBarunGothicLight.woff) format('woff'),
       url(./nanumbarun/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./nanumbarun/NanumBarunGothic.eot);
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(./nanumbarun/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./nanumbarun/NanumBarunGothic.woff2) format('woff2'),
       url(./nanumbarun/NanumBarunGothic.woff) format('woff'),
       url(./nanumbarun/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./nanumbarun/NanumBarunGothicBold.eot);
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(./nanumbarun/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./nanumbarun/NanumBarunGothicBold.woff2) format('woff2'),
       url(./nanumbarun/NanumBarunGothicBold.woff) format('woff'),
       url(./nanumbarun/NanumBarunGothicBold.ttf) format('truetype');
}