<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<th:block layout:fragment="contentFragment">
    <script>
        $(function () {
            $(".search").on("click", function () {
                $("#searchForm").submit();
            });
            $(".reset").on("click", function () {
                $('#searchWirelessEquipmentCarrierDtNo').find('option:first').attr('selected', 'selected');
                $("#searchWirelessEquipmentSn").attr('value', '');
                $("#searchForm").submit();
            });
        });
    </script>
    <!-- Content Area -->
    <div class="PAGE_BODY">
        <h1 class="page_title">무선장비관리</h1>
        <div class="page_top">
            <!-- Search Area -->
            <form id="searchForm" method="get" action="/wirelessEquipmentManagement">
                <div class="con_search_box">
                    <!-- Select -->
                    <div class="search_inp_box">
                        <select class="top_inp" id="searchWirelessEquipmentCarrierDtNo" name="searchWirelessEquipmentCarrierDtNo">
                            <option value="0">무선장비 통신사</option>
                            <th:block th:each="list:${wirelessEquipmentKindlist}">
                                <option th:selected="${searchParam.searchWirelessEquipmentCarrierDtNo}==${list.wirelessEquipmentCarrierDtNo}" th:value="${list.wirelessEquipmentCarrierDtNo}" th:text="${list.wirelessEquipmentCarrierKind}"></option>
                            </th:block>
                        </select>
                        <input type="text" name="searchWirelessEquipmentSn" value="" placeholder="무선단말기 No를 입력하세요">
                        <a href="#" class="BTNS icon search"><span>검색</span></a>
                        <a href="#" class="BTNS icon reset"><span>초기화</span></a>
                    </div>
                    <!-- Button Area -->
                    <div class="fuc_btns_box">
                        <a href="#" class="BTNS icon write" th:href="@{/wirelessEquipmentRegist}"
                           onClick="fnWindowPopupOpen(this.href, 'wirelessEquipmentRegist', '600', '700', 'no'); return false;"><span>무선장비 등록</span></a>
                    </div>
                </div>
            </form>
        </div>
        <!-- //////////////////// Content List -->
        <div class="LIST_BOX">
            <!-- List Table -->
            <div class="list_table">
                <table>
                    <thead>
                    <tr>
                        <th class="sz_50">No</th>
                        <th class="sz_100">사용여부</th>
                        <th>통신사</th>
                        <th>단말기NO(S/N)</th>
                        <th>유심일련번호</th>
                        <th>개통번호</th>
                        <th>개통일</th>
                        <th>현재위치</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${pageList.resultList}" th:switch="${list.wirelessEquipmentState}">
                        <tr>
                            <td th:text="${list.rnum}">1</td>
                            <td th:case="01" th:text="'사용'">306-811-18159</td>
                            <td th:case="02" th:text="'폐기'">306-811-18159</td>
                            <td th:text="${list.wirelessEquipmentCarrierKind}">N5200</td>
                            <td th:text="${list.wirelessEquipmentSn}"></td>
                            <td><a href="#" th:href="@{/wirelessEquipmentDetail(detailNo = ${list.rnum}, wirelessEquipmentDtNo = ${list.wirelessEquipmentDtNo}, wirelessEquipmentState = ${list.wirelessEquipmentState}, wirelessEquipmentCarrierDtNo = ${list.wirelessEquipmentCarrierDtNo})}"
                                   onClick="fnWindowPopupOpen(this.href, 'wirelessEquipmentDetail', '600', '700', 'no'); return false;"
                                   th:text="${list.wirelessEquipmentSsn}">원영건업(주)</a></td>
                            <td th:text="${list.wirelessEquipmentOpenNum}">서울특별시 중랑구 신내역로 3길 40-36, Behd 103호</td>
                            <td th:text="${list.wirelessEquipmentOpenDate}">010-1234-5678</td>
                            <td th:text="${list.wirelessEquipmentLoca}">1234-5678-9123 / 신한은행 / 홍길동</td>
                            <td th:text="${list.wirelessEquipmentNote}">1234-5678-9123 / 신한은행 / 홍길동</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <th:block th:replace="_fragment/common :: pageNaviFragment"></th:block>
        </div>
    </div>
    <!-- Content List //////////////////// -->
</th:block>
