<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layoutPopup}">
<th:block layout:fragment="contentFragment">
    <body>
    <script>
        $(function () {

            $(".save").on("click", function () {
                if (!$("input[name='subcontractorCmBsinesNum']").val()) {
                    alert("사업자등록번호를 입력해주세요");
                    return false;
                } else if (!$("input[name='subcontractorCmNm']").val()) {
                    alert("업체명을 입력해주세요");
                    return false;
                }else {
                    let formData = new FormData($("form")[0]);
                    formData.append("nullChkValue","nullChkValue");
                    if ($("input[name='tel1']").val() != null && $("input[name='tel2']").val() != null && $("input[name='tel3']").val() != null) {
                        formData.append("subcontractorCmPhone", $("input[name='tel1']").val().concat("-", $("input[name='tel2']").val()).concat("-", $("input[name='tel3']").val()));
                    }else{
                        formData.append("subcontractorCmPhone", "");
                    }
                    $.ajax({
                        url : "/subCompanyUpdate",
                        type: "post",
                        data: formData,
                        processData : false,
                        contentType :false,
                        success: function () {
                            //alert("success");
                            opener.parent.location.reload(); //부모창 리로드
                            fnWindowPopupClose(); //현재창닫기
                        },error: function () {
                            alert("error");
                        }
                    });
                }
            });

            $(".cancel").on("click", function () {
               fnWindowPopupClose();
            });

        });
    </script>
    <style>
        .hTable .essentialValue {
            color: red;
        }
    </style>
    <div class="popup_frame" style="width:600px;">
        <h1 class="popup_title">
            협력업체 상세 정보
            <a href="#" class="popup_close" onclick="fnWindowPopupClose()">닫기</a>
        </h1>
        <!-- popup content -->
        <div class="pop_content">
            <div class="pop_table">
                <form>
                <table class="hTable">
                    <th:block th:each="list:${list}">
                        <tr>
                            <th class="essentialValue">* 사업자등록번호</th>
                            <td><input type="text" th:value="${list.subcontractorCmBsinesNum}" value="" class="t_inp" name="subcontractorCmBsinesNum"/></td>
                        </tr>
                        <tr>
                            <th class="essentialValue">* 업체명</th>
                            <td><input type="text" th:value="${list.subcontractorCmNm}" value="" class="t_inp" name="subcontractorCmNm"/></td>
                        </tr>
                        <tr>
                            <th>대표자명</th>
                            <td><input type="text" th:value="${list.subcontractorCmCeoNm}" value="" class="t_inp" name="subcontractorCmCeoNm"/></td>
                        </tr>
                        <tr>
                            <th>사업자주소</th>
                            <td><input type="text" th:value="${list.subcontractorCmBsinesAddr}" value="" class="t_inp" name="subcontractorCmBsinesAddr"/></td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td class="hp">
                                <input type="text" th:value="${list.tel1}" value="" class="t_inp" name="tel1"
                                       onkeydown="return checkNumber(event);" placeholder="010"/> -
                                <input type="text" th:value="${list.tel2}" value="" class="t_inp" name="tel2"
                                       onkeydown="return checkNumber(event);"/> -
                                <input type="text" th:value="${list.tel3}" value="" class="t_inp" name="tel3"
                                       onkeydown="return checkNumber(event);"/>
                            </td>
                        </tr>
                        <tr>
                            <th>계좌정보</th>
                            <td>
                                <input type="text" th:value="${list.bankAcountNum}" value="" class="t_inp" name="bankAcountNum" style="width: 40%;" placeholder="계좌"/>
                                <input type="text" th:value="${list.bankNm}" value="" class="t_inp" name="bankNm" style="width: 20%;" placeholder="은행명"/>
                                <input type="text" th:value="${list.accountHolder}" value="" class="t_inp" name="accountHolder" style="width: 20%;" placeholder="예금주"/>
                            </td>
                        </tr>
                    </th:block>
                    <input type="hidden" th:value="${subcontractorCmNo}" name="subcontractorCmNo"/>
                </table>
                </form>
            </div>
        </div>
        <!-- Pop Button -->
        <div class="pop_btns">
            <a href="#" class="BTNS icon cancel"><span>취소</span></a>
            <a href="#" class="BTNS icon save"><span>저장</span></a>
        </div>
    </div>
    </body>
</th:block>