<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{_layout/layoutPopup}">
<th:block layout:fragment="contentFragment">
	<body>
	<script>
		$(function (){

			$(".save").on("click", function (){
				if(!$("input[name='siteState']:checked").val()){
					alert("현장의 사용여부를 선택해주세요.");
					return false;
				}else if($(".t_select").val()==""){
					alert("건설업체를 선택해주세요.");
					return false;
				}else if($("input[name='siteName']").val()=="현장명"){
					alert("현장명을 입력해주세요.");
					return false;
				}else if($("input[name='siteAddr']").val()=="현장주소"){
					alert("현장주소를 입력해주세요.");
					return false;
				}else if($("input[name='siteManageNm']").val()=="홍길동"){
					alert("담당자명을 입력해주세요.");
					return false;
				}else if($("input[name='siteManageFd']").val()=="직위"){
					alert("담당자의 직위를 입력해주세요.");
					return false;
				}else if(!$("input[name='siteTel1']").val()){
					alert("연락처를 모두 입력해주세요.");
					return false;
				}else if(!$("input[name='siteTel2']").val()){
					alert("연락처를 모두 입력해주세요.");
					return false;
				}else if(!$("input[name='siteTel3']").val()){
					alert("연락처를 모두 입력해주세요.");
					return false;
				}else{
					let formData = new FormData($("form")[0]);
					//formData.append("siteState", $("input[name='siteState']:checked").val());
					formData.append("companyGroupNo", $(".t_select option:selected").attr("companyGroupNo"));
					formData.append("companyNo", $(".t_select option:selected").attr("companyNo"));
					formData.append("branchOfficeNo", $(".t_select option:selected").attr("branchOfficeNo"));
					formData.append("siteTel", $("input[name='siteTel1']").val().concat("-", $("input[name='siteTel2']").val()).concat("-", $("input[name='siteTel3']").val()));
					$.ajax({
						url:"/siteRegist",
						type: "post",
						data: formData,
						processData : false,
						contentType :false,
						success:function (){
							opener.parent.location.reload();
							alert("등록되었습니다.");
							fnWindowPopupClose();
						},error:function (){
							alert("error");
						}
					});
				}
			});

			$(".cancel").on("click", function () {
				fnWindowPopupClose();
			});

		});
	</script>
	<style>
		.hTable .essentialValue{
			color: red;
		}
	</style>
		<div class="popup_frame" style="width:600px;">
			<h1 class="popup_title">
				운영 현장 신규 등록
				<a href="#" class="popup_close" onclick="fnWindowPopupClose()">닫기</a>
			</h1>
			<!-- popup content -->
			<div class="pop_content">
				<div class="pop_table">
					<table class="hTable">
						<form>
						<tr>
							<th class="essentialValue">* 사용여부</th>
							<td>
								<input type="radio" id="siteState0" name="siteState" value="00"/>
								<label for="siteState0">예정</label>
								<input type="radio" id="siteState1" name="siteState" value="01"/>
								<label for="siteState1">사용</label>
								<input type="radio" id="siteState2" name="siteState" value="02"/>
								<label for="siteState2">종료</label>
							</td>
						</tr>
						<tr>
							<th class="essentialValue">* 업체 선택</th>
							<td>
								<select class="t_select">
									<option value="">건설업체를 선택해주세요.</option>
									<th:block th:each="companyList : ${companyList}">
									<option name="companyNo" th:text="${companyList.companyName}"
											th:attr="companyGroupNo=${companyList.companyGroupNo},
													 companyNo=${companyList.companyNo}"></option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<th class="essentialValue">* 현장명</th>
							<td><input type="text" value="현장명" class="t_inp" name="siteName"/></td>
						</tr>
						<tr>
							<th class="essentialValue">* 현장주소</th>
							<td><input type="text" value="현장주소" class="t_inp" name="siteAddress"/></td>
						</tr>
						<tr>
							<th class="essentialValue">* 담당자명</th>
							<td><input type="text" value="홍길동" class="t_inp" name="siteManagerName"/></td>
						</tr>
						<tr>
							<th class="essentialValue">* 직위</th>
							<td><input type="text" value="직위" class="t_inp" name="siteManagerFeild"/></td>
						</tr>
						<tr>
							<th class="essentialValue">* 연락처</th>
							<td class="hp">
								<input type="text" value="010" class="t_inp"  name="siteTel1" onkeydown="return checkNumber(event);" /> -
								<input type="text" value="" class="t_inp"  name="siteTel2" onkeydown="return checkNumber(event);"/> -
								<input type="text" value="" class="t_inp"  name="siteTel3" onkeydown="return checkNumber(event);"/>
							</td>
						</tr>
						</form>
					</table>
				</div>
			</div>
			<!-- Pop Button -->
			<div class="pop_btns">
				<a href="#" class="BTNS icon cancel"><span>취소</span></a>
				<a href="#" class="BTNS icon save"><span>저장</span></a>
			</div>
		</div>
	</body>
</th:block>