<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<h1>업체 자재단가 공급업체 목록</h1>

<table border="1">
<thead>
	<tr>
	   <th>spl_cmpny_id 공급업체ID</th><th>spl_cmpny_nm 공급업체명</th>
	   <th>apl_strt_dt 현재-적용시작</th><th>apl_end_dt 현재-적용종료</th>
	   <th>req_apl_strt_dt 요청-적용시작</th><th>req_apl_end_dt 요청-적용종료</th>
	   <th>req_stat_cd 요청상태</th>
	   <th>req_dt 요청일자</th><th>confirm_dt 확정일자</th>
	   <th>관리</th>
	</tr>
</thead>
<tbody>
    <tr th:each="mi : ${miList}">
        <td th:text="${mi.splCmpnyId}">splCmpnyId</td>
        <td>
            <a href="#" th:href="@{/cmpny/price/cmpnyMatrlPriceVenDtlList(splCmpnyId=${mi.splCmpnyId})}" th:text="${mi.splCmpnyNm}">splCmpnyNm</a>
        </td>
        <td th:text="${mi.aplStrtDt}">aplStrtDt</td>
        <td th:text="${mi.aplEndDt}">aplEndDt</td>
        <td th:text="${mi.reqAplStrtDt}">reqAplStrtDt</td>
        <td th:text="${mi.reqAplEndDt}">reqAplEndDt</td>
        <td th:text="${mi.reqStatCd}">reqStatCd</td>
        <td th:text="${mi.reqDt}">reqDt</td>
        <td th:text="${mi.confirmDt}">confirmDt</td>
        <td>
            <a href="#" th:href="@{/cmpny/matrl/useMyMatrlItem(useYn=Y)}" th:if="${mi.reqStatCd == '00' or mi.reqStatCd == '10'}">요청취소</a>
            <a href="#" th:href="@{/cmpny/matrl/useMyMatrlItem(useYn=N)}" th:if="${mi.reqStatCd == null}">등록요청</a>
        </td>
    </tr>
</tbody>
</table>

</th:block>