<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<th:block layout:fragment="contentFragment">
    <script>
        $(function () {
           $()
        });
    </script>
    <!-- Content Area -->
    <div class="PAGE_BODY">
        <h1 class="page_title">매출 현황 조회</h1>
        <!--<div class="page_top">
            &lt;!&ndash; Search Area &ndash;&gt;
            <div class="con_search_box">
                &lt;!&ndash; Select &ndash;&gt;
                <div class="search_inp_box">
                    <div class="date_inp">
                        <i class="iconDate"></i>
                        <input type="text" value="2020.12. 11" class="date_inp" />
                        <span class="dtx">~</span>
                        <i class="iconDate"></i>
                        <input type="text" value="2020.12. 11" class="date_inp" />
                    </div>
                    <select class="top_inp">
                        <option>진행상태</option>
                    </select>
                    <select class="top_inp">
                        <option>현장을 선택하세요</option>
                    </select>
                    <input type="text" placeholder="발주번호를 입력하세요" class="top_inp" />
                    <a href="#" class="BTNS icon search"><span>검색</span></a>
                    <a href="#" class="BTNS icon reset"><span>초기화</span></a>
                </div>
                &lt;!&ndash; Button Area &ndash;&gt;
                <div class="fuc_btns_box">
                    &lt;!&ndash; 버튼이 있는 경우 노출 &ndash;&gt;
                </div>
            </div>
        </div>-->
        <!-- //////////////////// Content List -->
        <div class="LIST_BOX">
            <!-- Search Result, buttons -->
            <!--<div class="list_top_area">
                <div class="list_search_result">
                    <b>조회기간</b>2020년 12월
                </div>
                <div class="list_top_btn_box">
                    <select>
                        <option>전체보기</option>
                    </select>
                </div>
            </div>-->
            <!-- Info list Top -->
            <div class="con_info_top">
                <table>
                    <thead>
                    <tr>
                        <th>대상년도</th>
                        <th>업체수</th>
                        <th>매출액</th>
                        <th>입금액</th>
                        <th>미수금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${list}">
                    <tr>
                        <td th:text="${list.salDtIssueDate}">2021</td>
                        <td th:text="${list.companyCnt}">70</td>
                        <td th:text="${#numbers.formatInteger(list.sumAccount, 0, 'COMMA')}">100,000,000</td>
                        <td th:text="${#numbers.formatInteger(list.depositAccount, 0, 'COMMA')}">80,000,000</td>
                        <td th:text="${#numbers.formatInteger(list.unpaidAmount, 0, 'COMMA')}">20,000,000</td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!-- List Table -->
            <div class="list_table">
                <table>
                    <thead>
                    <tr>
                        <th class="sz_50">No</th>
                        <th class="sz_100">업체명</th>
                        <th>운영현장</th>
                        <th>매출액</th>
                        <th>입금액</th>
                        <th>미수금액</th>
                        <th>미수누적금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list : ${pageList.resultList}">
                    <tr>
                        <td th:text="${list.rnum}">1</td>
                        <td th:text="${list.companyName}">원영건업(주)</td>
                        <td>
                            <a href="#" th:href="@{/companySalesDetailList(companyNo=${list.companyNo}, companyName=${list.companyName})}" th:text="${list.siteCnt}" th:value="${list.companyNo}"></a>
                        </td>
                        <td th:text="${#numbers.formatInteger(list.sumAccount, 0,'COMMA')}">100,000,000</td>
                        <td th:text="${#numbers.formatInteger(list.depositAccount, 0, 'COMMA')}">80,000,000</td>
                        <td th:text="${#numbers.formatInteger(list.unpaidAmount, 0, 'COMMA')}">20,000,000</td>
                        <td th:text="${#numbers.formatInteger(list.cumulativeSum, 0, 'COMMA')}">20,000,000</td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <th:block th:replace="_fragment/common :: pageNaviFragment"></th:block>
        </div>
    </div>
    <!-- Content List //////////////////// -->
</th:block>
