<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layoutPopup"
      layout:decorate="~{_layout/layoutPopup}">
<th:block layout:fragment="contentFragment">
    <html>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            let cumulativeSum = $(".cumulativeSum").val();
            $("#cumulativeSum").text(cumulativeSum);

            /*<![CDATA[*/
            let searchMonth = /*[[ ${searchParam.searchMonth} ]]*/ "";
            let now = new Date();
            let nmon = (now.getMonth()+1) > 9 ? ''+(now.getMonth()+1) : '0'+(now.getMonth()+1);

            // 월별 selectbox 만들기
            for(let i=1; i <= 12; i++) {
                let sm = i > 9 ? i : "0"+i ;
                $('#fd_month').append('<option value="' + sm + '"' +( (sm == searchMonth) ? "selected" : "")+'>' + sm + '월</option>');
            }

            //$("#fd_year  > option[value="+nyear+"]").attr("selected", "true");
            //$("#fd_month  > option[value="+nmon+"]").attr("selected", "true");

            /*]]*/

            $(".search").on("click", function () {
                $("#searchFrm").submit();
            });

            $(".reset").on("click", function () {
                $('#fd_month').find('option:first').attr('selected', 'selected');
                $("#searchFrm").submit();
            });

        });
    </script>
    <body>
    <div class="popup_frame" style="width:1000px;">
        <h1 class="popup_title">
            입금내역 상세 정보
            <a href="#" onclick="fnWindowPopupClose()" class="popup_close">닫기</a>
        </h1>
        <!-- popup content -->
        <div class="pop_content">
            <form id="searchFrm" action="/companyDepositDetail" method="post">
            <div class="page_top">
                <div class="con_search_box">
                    <div class="search_inp_box">
                        <select id="fd_month" name="fd_month" class="top_inp" style="width:130px;">
                            <option value="">월 선택</option>
                        </select>
                        <!--<select class="top_inp" id="selectCompanyList">
                            <option>업체선택</option>
                        </select>-->
                        <input type="hidden" th:value="${companyNo}" name="companyNo">
                        <input type="hidden" th:value="${year}" name="year">
                        <a href="#" class="BTNS icon search"><span>검색</span></a>
                        <a href="#" class="BTNS icon reset"><span>초기화</span></a>
                    </div>
                </div>
                <div class="list_top_btn_box">
                    <!-- 버튼이 있는 경우 노출 -->
                </div>
            </div>
            </form>
            <div class="pop_info_top">
                <table class="pop_table">
                    <thead>
                    <tr>
                        <th class="sz_100">월</th>
                        <th>입금일</th>
                        <th>입금시간</th>
                        <th>입금액</th>
                        <th>입금내용</th>
                        <th class="sz_60">거래점명</th>
                        <!--<th class="sz_60">납품수량</th>-->
                        <!--<th class="sz_120">잔여수량</th>-->
                    </tr>
                    <tr>
                        <th colspan="2">합계</th>
                        <th></th>
                        <th colspan="2" id="cumulativeSum"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${list}">
                            <tr>
                                <td th:text="${list.dmm}"></td>
                                <td th:text="${list.depositDt}"></td>
                                <td th:text="${list.dtime}"></td>
                                <td th:text="${#numbers.formatInteger(list.depositAccount, 0, 'COMMA')}"></td>
                                <td th:text="${list.depositContent}"></td>
                                <td th:text="${list.depositBank}"></td>
                                <input type="hidden" class="cumulativeSum" th:value="${#numbers.formatInteger(list.cumulativeSum, 0, 'COMMA')}"/>
                            </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pop Button -->
        <div class="pop_btns">
            <a href="#" onclick="fnWindowPopupClose()" class="BTNS icon cancel"><span>닫기</span></a>
        </div>
    </div>
    </body>
    </html>
</th:block>