<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<th:block layout:fragment="contentFragment">
    <!-- Content Area -->
    <div class="PAGE_BODY">
        <h1 class="page_title">
            매출 현황 조회<b th:text="${companyName}"> 원영건업(주)</b>
            <div class="tit_btn_area">
                <a href="#" class="BTNS icon list"><span>목록</span></a>
            </div>
        </h1>
        <!-- //////////////////// Content List -->
        <!-- 매출 현황 조회 -->
        <div class="LIST_BOX">
            <!-- Info list Top -->
            <div class="con_info_top">
                <table>
                    <thead>
                    <tr>
                        <th>대상 년도</th>
                        <th>현장수</th>
                        <th>매출액</th>
                        <th>입금액</th>
                        <th>미수금액</th>
                        <th>미수누적금액</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <!--입금액과 매출액이 동일한 년도에 발생한 데이터가 없을 경우의 리스트-->
                    <th:block th:if="${list == 'NoData'}" th:each="listNotEmpty:${listNotEmpty}">
                        <tr>
                            <td th:text="${listNotEmpty.salDtIssueDate}"></td>
                            <td th:text="${listNotEmpty.siteCnt}"></td>
                            <td><a href="#" th:href="@{/companySiteSales(companyNo=${listNotEmpty.companyNo}, companyName=${companyName}, year=${listNotEmpty.salDtIssueDate})}" th:text="${#numbers.formatInteger(listNotEmpty.salDtSumAccount, 0, 'COMMA')}"></a></td>
                            <td><a href="#" th:href="@{/companyDepositDetail(companyNo=${listNotEmpty.companyNo}, year=${listNotEmpty.salDtIssueDate})}" th:text="${#numbers.formatInteger(listNotEmpty.depositAccount, 0, 'COMMA')}"
                                   onclick="window.open(this.href, '', 'width=1000, height=413'); return false;"></a></td>
                            <td th:text="${#numbers.formatInteger(listNotEmpty.unpaidAmount, 0, 'COMMA')}">20,000,000</td>
                            <td th:text="${#numbers.formatInteger(listNotEmpty.cumulativeSum, 0, 'COMMA')}">20,000,000</td>
                        </tr>
                    </th:block>
                    <!--입금액과 매출액이 동일한 년도에 발생한 데이터가 있을 경우의 리스트-->
                    <th:block th:if="${list != 'NoData'}" th:each="list:${list}">
                    <tr>
                        <td th:text="${list.salDtIssueDate}">2021</td>
                        <td th:text="${list.siteCnt}">20</td>
                        <td><a href="#" th:href="@{/companySiteSales(companyNo=${list.companyNo}, companyName=${companyName}, year=${list.salDtIssueDate})}" th:text="${#numbers.formatInteger(list.salDtSumAccount, 0, 'COMMA')}"></a></td>
                        <td><a href="#" th:href="@{/companyDepositDetail(companyNo=${list.companyNo}, year=${list.salDtIssueDate})}" th:text="${#numbers.formatInteger(list.depositAccount, 0, 'COMMA')}"
                        onclick="window.open(this.href, '', 'width=1000, height=413'); return false;"></a></td>
                        <td th:text="${#numbers.formatInteger(list.unpaidAmount, 0, 'COMMA')}">20,000,000</td>
                        <td th:text="${#numbers.formatInteger(list.cumulativeSum, 0, 'COMMA')}">20,000,000</td>
                    </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
            <!--// 매출 현황 조회 //-->
            <!-- Content List //////////////////// -->
        </div>
</th:block>