<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<!-- TODO DELETE -->
<pre id="DEV_MEMO_DIV" style="padding:0; margin:0; display:none;">
* 등록시, 현장 선택에 따라 입고정보가 변경되므로, 상단으로 조정하는게 어떨지.
* 청구상세번호 : 계속 수정될수 있는데... 청구완료되는 시점에 생성하면?
* 자재 삭제 색상 선정 필요
</pre>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(document.forms.sForm).submit(false); // 다른 이벤트로 submit 되지 않도록, js이벤트 호출로만 처리.
});

var isSubmit = false; // 처리중 여부
var DEL_FLAG = "D"; // 자재 삭제 플래그
var UPD_FLAG = "U"; // 자재 수정 플래그

// validate
function validate() {
	if ( isSubmit ) {
		alert("이미 처리중입니다.");
		return false;
	}

	// TODO 정규표현식을 활용한 validate 모듈 구성 필요.
	var sf = document.forms.sForm;
	if ( !isObjEmpty(sf.workSiteId, "작업현장을 선택하세요.") ) return false;

	var trArr = jQuery("tr.matrlTrObj");
	if ( trArr.length == 0 ) {
		alert("청구할 자재를 선택하세요.");
		return false;
	}
	for ( var i=0 ; i<trArr.length ; i++ ) {
		var idx = trArr.get(i).dataset.idx;

		if ( !isObjNumericMinMax(sf["dtlList[" + idx + "].clmQty"], 1, null, "청구수량을 1개이상 입력해주세요.") ) return false;
		if ( !isObjEmpty(sf["dtlList[" + idx + "].inHopeDt"], "입고요청일을 선택하세요.") ) return false;
		if ( !isObjEmpty(sf["dtlList[" + idx + "].inHopeHour"], "입고요청시간을 선택하세요.") ) return false;
	}

	return true;
}

function isObjEmpty(domObj, errMsg) {
	if ( domObj.value == "" ) {
	     alert(errMsg);
	     domObj.focus();
	     return false;
	 }
	return true;
}
function isObjNumericMinMax(domObj, minVal, maxVal, errMsg) {
    if ( domObj.value == "" || !jQuery.isNumeric(domObj.value)
    		|| ( minVal && parseInt(domObj.value)<minVal )
    		|| ( maxVal && parseInt(domObj.value)>maxVal ) ) {
         alert(errMsg);
         domObj.focus();
         return false;
     }
    return true;
}

// 작업현장 select 선택
function changeWorkSite(obj) {
	var addrzip = obj.options[obj.selectedIndex].dataset.addrzip;
	var addr = obj.options[obj.selectedIndex].dataset.addr;

	document.forms.sForm.inAddrZipcd.value = addrzip;
	document.forms.sForm.inAddr.value = addr;
}

// 임시저장
function doTempSave() {
	if ( !validate() || !confirm("임시저장합니다.") ) return false;
	isSubmit = true;

	var sf = document.forms.sForm;
	jQuery(sf.clmStatCd).val("10"); // 작성중 상태
	document.forms.sForm.submit();

    return true;
}
// 저장(승인)
function doConfirmSave() {
	if ( !validate() || !confirm("작성을 완료하고, 승인요청합니다.") ) return false;
    isSubmit = true;

	var sf = document.forms.sForm;
	jQuery(sf.clmStatCd).val("20"); // 승인중 상태
	document.forms.sForm.submit();

	return true;
}
// 취소(목록으로)
function doCancel() {
	if ( confirm("수정된 내용을 취소하고, 목록으로 돌아갑니다.") ) {
	    isSubmit = true;
	    location.href= "/site/matrlclm/matrlClmList";
	}
}

// 자재 템플릿 tr 생성
function genMatrlTr(matrlId, mctgNm, ctgNm, itemNm, matrlStd, unitCd, matrlDesc) {
	var tmpltObj = jQuery("#matrlTrTemplt");
	var tmpltParentObj = tmpltObj.parent();
    var idx = tmpltParentObj.find("tr").length - 1; // 순서
    var tmpObj = tmpltObj.clone();
    var tdArr = tmpObj.find("td");

    tdArr.eq(0).text(idx + 1);
    tdArr.eq(1).text("-");
    tdArr.eq(2).text(itemNm);
    tdArr.eq(3).text(matrlStd);
    tdArr.eq(4).text("-");
    tdArr.eq(5).find("input" ).attr({"name" : "dtlList[" + idx + "].clmQty"});
    tdArr.eq(6).find("input" ).attr({"name" : "dtlList[" + idx + "].remark"});
    tdArr.eq(7).find("input" ).attr({"name" : "dtlList[" + idx + "].inHopeDt"});
    tdArr.eq(7).find("input" ).datepicker({
    	   dateFormat: "yymmdd"
//    	 , altFormat: "yy/mm/dd"
    	 , showAnim: "drop"
    });
    tdArr.eq(8).find("select").attr({"name" : "dtlList[" + idx + "].inHopeHour"});
    tdArr.eq(9).find("input" ).eq(0).attr({"id" : "matrlIdInput_"+matrlId, "name" : "dtlList[" + idx + "].matrlId", "value" : matrlId});
    tdArr.eq(9).find("input" ).eq(1).attr({"name" : "dtlList[" + idx + "].modFlag"});
    tdArr.eq(9).find("span" ).attr({"data-idx" : idx});

    //
    tmpObj.removeAttr("id style");
    tmpObj.addClass("matrlTrObj");
    tmpObj.attr("data-idx", idx);
    tmpObj.find("input, select").prop("disabled", "");

    tmpltParentObj.append(tmpObj);
    tmpObj.show();
}

// 자재 추가
function selectMatrl(obj) {
	var trObj = jQuery(obj).parent().parent();
	var tdArr = trObj.find("td");

	var matrlId = obj.dataset.matrlid;
	var mctgNm = tdArr.eq(0).text();
	var ctgNm = tdArr.eq(1).text();
	var itemNm = tdArr.eq(2).text();
	var matrlStd = tdArr.eq(3).text();
	var unitCd = tdArr.eq(4).text();
	var matrlDesc = tdArr.eq(5).text();

	// 중복체크
	var matrlInputObj = jQuery("#matrlIdInput_" + matrlId);
	if ( matrlInputObj.length > 0 && matrlInputObj.val() == matrlId ) {
		alert("이미 추가된 자재입니다.");
		return;
	}

	genMatrlTr(matrlId, mctgNm, ctgNm, itemNm, matrlStd, unitCd, matrlDesc)
}

// 자재 삭제/취소
function deleteToggleMatrl(obj) {
	var idx = obj.dataset.idx;
    var trObj = jQuery(obj).parent().parent();
    var modFlagObj = trObj.find("input[name='dtlList\[" + idx + "\].modFlag']");
    var modFlag = modFlagObj.val();

    if ( !confirm(modFlag==DEL_FLAG ? "해당 자재를 삭제취소합니다." : "해당 자재를 삭제합니다.") ) return false;

    trObj.css("background-color", modFlag==DEL_FLAG ? "" : "red");
    jQuery(obj).text(modFlag==DEL_FLAG ? "삭제" : "삭제 취소");

    modFlagObj.val(modFlag==DEL_FLAG ? UPD_FLAG : DEL_FLAG); // 삭제전에 수정되었는지 체크가 애매하므로, 삭제취소시 UPD_FLAG 셋팅
}
</script>

<h1 class="page_title">
    자재 청구서
    <th:block th:if="${#strings.isEmpty(matrlVo.matrlClmNo)}" th:text="|작성|">작성</th:block>
    <th:block th:if="${!#strings.isEmpty(matrlVo.matrlClmNo)}" th:text="|수정|">수정</th:block>
    <div class="tit_btn_area">
        <a href="#" onclick="doCancel(); return false;" class="BTNS icon cancel"><span>작성 취소</span></a>
        <a href="#" onclick="doTempSave(); return false;" class="BTNS icon save_extra"><span>임시저장</span></a>
        <a href="#" onclick="doConfirmSave(); return false;" class="BTNS icon confirm"><span>작성완료</span></a>
    </div>
</h1>
<!-- //////////////////// Content List -->
<form name="sForm" method="post" th:action="|/site/matrlclm/matrlClm${#strings.isEmpty(matrlVo.matrlClmNo) ? 'Insert' : 'Update'}|">
<input type="hidden" name="clmStatCd" th:value=${matrlVo.clmStatCd} />

<div class="LIST_BOX">
    <!-- Info list Top -->
    <div class="con_info_top">
        <table>
            <thead>
                <tr>
                    <th class="sz_120">진행상태</th>
                    <th>청구일</th>
                    <th>청구번호</th>
                    <th>청구현장</th>
                    <th>청구 담당자</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${matrlVo.clmStatCd}">작성중</td>
                    <td th:text="${#temporals.createDate(matrlVo.clmDt, 'yyyyMMdd')}">2020/12/14</td>
                    <td th:if="${ #strings.isEmpty(matrlVo.matrlClmNo)}" th:text="|-|">20-12140001</td>
                    <td th:if="${!#strings.isEmpty(matrlVo.matrlClmNo)}" th:text="|${#strings.substring(matrlVo.matrlClmNo,0,6)}-${#strings.substring(matrlVo.matrlClmNo,6,14)}|">20-12140001</td>
                    <td>
                        <input type="hidden" name="clmDt" th:value="${#dates.format(#dates.createNow(), 'yyyyMMdd')}" />
                        <input type="hidden" name="matrlClmNo" th:value="${matrlVo.matrlClmNo}" />
                        <!--/* 현장은 수정불가. 수정되는 경우, 결재선부터 모두 바껴야함. */-->
                        <th:block th:if="${ #strings.isEmpty(matrlVo.matrlClmNo)}">
	                        <select name="workSiteId" class="t_inp" onchange="changeWorkSite(this);">
	                            <option value="">현장을 선택하세요</option>
	                            <option th:each="svo : ${matrlVo.siteList}"
	                                th:value="${svo.workSiteId}"
	                                th:attr="data-addrzip=${svo.addrZipcd},data-addr=${svo.addr}"
	                                th:text="${svo.siteNm}">현장</option>
	                        </select>
                        </th:block>
                        <th:block th:if="${!#strings.isEmpty(matrlVo.matrlClmNo)}">
                            <input type="hidden" name="workSiteId" th:value="${matrlVo.workSiteId}" />
                            <th:block th:text="${matrlVo.siteNm}"></th:block>
                        </th:block>
                    </td>
                    <td th:text="|${matrlVo.clmChargrLoginId} (${matrlVo.clmChargrNm})|">id (이름)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 현장 및 담당자 정보 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>현장 및 담당자 정보</b>
        </div>
        <div class="list_top_btn_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th>현장(배송)주소</th>
                    <th>현장 내 위치(하차장소)</th>
                    <th class="sz_60">Gate</th>
                    <th class="sz_300">입고 담당자</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
	                        <input type="text" name="inAddrZipcd" th:value="${matrlVo.inAddrZipcd}" readonly="readonly" placeholder="우편번호" class="t_inp" style="width:60px;" />
	                        <input type="text" name="inAddr" th:value="${matrlVo.inAddr}" readonly="readonly" placeholder="현장을 선택하시면 자동으로 입력됩니다" class="t_inp" style="width:400px;" />
                    </td>
                    <td><input type="text" name="inAddrRemark" placeholder="현장내 상세 하차위치를 적어주세요" class="t_inp" /></td>
                    <td class="t_center"><input type="text" name="inGateNo" value="" class="t_inp" /></td>
                    <td>
                        <select class="t_inp">
                            <option>홍길동 (010-8807-5439)</option>
                        </select>
                        <input type="hidden" name="inChargrNm" value="홍길동" />
                        <input type="hidden" name="inChargrTel" value="000-1111-2222" />
                    </td>
                    <td><input type="text" name="inRemark" placeholder="배송 요청사항 작성" class="t_inp" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 특이사항 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>특이사항</b>
        </div>
        <div class="list_top_btn_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th>특이사항</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="t_left">
                        <textarea class="t_inp txt_write" name="remark"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 자재 청구서 -->
    <div class="list_top_area">
        <div class="list_search_result">
            <b>청구 자재 목록</b>청구할 자재를 추가해 주세요.
        </div>
        <div class="list_top_btn_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <!-- Search Area -->
    <div class="con_search_box">
        <!-- Select -->
        <div class="search_inp_box">
            <select class="top_inp">
                <option>대분류</option>
            </select>
            <select class="top_inp">
                <option>소분류</option>
            </select>
            <input type="text" class="top_inp" placeholder="품목명을 입력하세요" />
            <a href="#" class="BTNS icon select"><span>선택</span></a>
            <a href="#" class="BTNS icon reset"><span>초기화</span></a>
        </div>
        <!-- Button Area -->
        <div class="fuc_btns_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <!-- Info list Top -->
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th>대분류</th>
                    <th>소분류</th>
                    <th>품목</th>
                    <th>세부품목</th>
                    <th class="sz_80">단위</th>
                    <th>비고</th>
                    <th class="sz_50">추가여부</th>
                </tr>
            </thead>
            <tbody>
				<tr th:each="rstLi,index : ${matrlList}">
				    <td th:text="${rstLi.mctgNm}">mctgNm</td>
				    <td th:text="${rstLi.ctgNm}">ctgNm</td>
				    <td th:text="${rstLi.itemNm}">itemNm</td>
				    <td th:text="${rstLi.matrlStd}">matrlStd</td>
				    <td th:text="${rstLi.unitCd}">unitCd</td>
				    <td th:text="${rstLi.matrlDesc}">unitCd</td>
					<td>
					    <span class="tb_btn" onclick="selectMatrl(this)" th:attr="data-matrlid=${rstLi.matrlId}">추가</span>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 청구 자재 목록 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>청구 자재 목록</b>
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th class="sz_50">No</th>
                    <th>청구상세번호</th>
                    <th>품목</th>
                    <th>세부품목</th>
                    <th class="sz_70">기 입고량</th>
                    <th class="sz_70">청구수량</th>
                    <th>용도</th>
                    <th colspan="2">입고 요청일</th>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
                <!--/* 수정시 tr 템플릿과 복사하는 스크립트도 같이 수정 필요. input disable 풀기, value 셋팅. */-->
                <tr id="matrlTrTemplt" style="display:none;">
                    <td>1</td>
                    <td>-</td>
                    <td>itemNm</td>
                    <td>matrlStd</td>
                    <td>-</td>
                    <td class="t_right"><input type="text" name="dtlList[].clmQty" value="0" disabled="disabled" placeholder="0" class="t_inp" /></td>
                    <td><input type="text" name="dtlList[].remark" disabled="disabled" placeholder="용도를 입력하세요" class="t_inp" /></td>
                    <td class="sz_120"><input type="text" name="dtlList[].inHopeDt" disabled="disabled" readonly="readonly" class="t_inp center" /></td>
                    <td class="sz_70">
                        <select name="dtlList[].inHopeHour" disabled="disabled" class="t_inp">
                            <option value="">시간</option>
                            <option th:each="thour : ${#numbers.sequence(0,23)}"
                                th:value="${#numbers.formatInteger(thour,2)}"
                                th:text="|${#numbers.formatInteger(thour,2)}시|">00시</option>
                        </select>
                    </td>
                    <td class="sz_50">
                        <input type="hidden" id="matrlIdInput_" name="dtlList[].matrlId" disabled="disabled" />
                        <input type="hidden" name="dtlList[].modFlag" disabled="disabled" />
                        <span class="tb_btn delete" onclick="deleteToggleMatrl(this)" data-idx="">삭제</span>
                    </td>
                </tr>
                <tr th:each="rstLi,index : ${matrlVo.dtlList}" class="matrlTrObj" th:attr="data-idx=${index.index}">
                    <td th:text="${index.count}">1</td>
                    <td th:text="${#strings.defaultString(rstLi.matrlClmDtlNo,'-')}">-</td>
                    <td th:text="${rstLi.itemNm}">itemNm</td>
                    <td th:text="${rstLi.matrlStd}">matrlStd</td>
                    <td>0</td>
                    <td class="t_right"><input type="text" th:name="|dtlList[${index.index}].clmQty|" th:value="${rstLi.clmQty}" placeholder="0" class="t_inp" /></td>
                    <td><input type="text" th:name="|dtlList[${index.index}].remark|" th:value="${rstLi.remark}" placeholder="용도를 입력하세요" class="t_inp" /></td>
                    <td class="sz_120"><input type="text" th:name="|dtlList[${index.index}].inHopeDt|" th:readonly="readonly" th:value="${rstLi.inHopeDt}" class="t_inp center" /></td>
                    <td class="sz_70">
                        <select th:name="|dtlList[${index.index}].inHopeHour|" class="t_inp">
                            <option value="">시간</option>
                            <option th:each="thour : ${#numbers.sequence(0,23)}"
                                th:selected="${#numbers.formatInteger(thour,2) == rstLi.inHopeHour}"
                                th:value="${#numbers.formatInteger(thour,2)}"
                                th:text="|${#numbers.formatInteger(thour,2)}시|">00시</option>
                        </select>
                    </td>
                    <td class="sz_50">
                        <input type="hidden" th:id="|matrlIdInput_${rstLi.matrlId}|" th:name="|dtlList[${index.index}].matrlId|" th:value="${rstLi.matrlId}" />
                        <input type="hidden" th:name="|dtlList[${index.index}].modFlag|" />
                        <span class="tb_btn delete" onclick="deleteToggleMatrl(this)" th:attr="data-idx=${index.index}">삭제</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 청구 관련 서류 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>청구 관련 서류</b>
        </div>
        <div class="list_top_btn_box">
            <a href="#" class="BTNS icon add"><span>추가</span></a>
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th class="sz_50">No</th>
                    <th>서류 내용</th>
                    <th class="sz_300">첨부파일</th>
                    <th class="sz_50">관리</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><input type="text" name="fileList[0].fileDesc" placeholder="서류 내용을 입력하세요" class="t_inp" /></td>
                    <td>
                        <div class="filebox">
                            <input class="upload-name" type="text" name="fileList[0].filePath" value="첨부파일 선택">
                            <label for="ex_filename" class="file_search">찾기</label>
                            <input type="file" id="ex_filename" class="upload-hidden fileinp">
                        </div>
                    </td>
                    <td class="sz_50">
                        <span class="tb_btn delete">삭제</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</form>
<!-- Content List //////////////////// -->
<div class="ListButtonArea">
    <a href="#" onclick="doCancel(); return false;" class="BTNS icon cancel"><span>작성 취소</span></a>
    <a href="#" onclick="doTempSave(); return false;" class="BTNS icon save_extra"><span>임시저장</span></a>
    <a href="#" onclick="doConfirmSave(); return false;" class="BTNS icon confirm"><span>작성완료</span></a>
</div>

</th:block>