<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<!-- TODO DELETE -->
<pre id="DEV_MEMO_DIV" style="padding:0; margin:0; display:none;">
* 청구 수정,취소는..언제 가능하고 어떤 기능인지
</pre>

<script type="text/javascript">
var t = null;
var dupReqCheck = false;
function doAprv(tobj) {
    var matrlCmlNo = tobj.dataset.no;
    var aprvSeq = tobj.dataset.seq;
    if ( dupReqCheck ) {
        alert("처리중입니다.");
        return;
    } else if ( confirm("선택한 자재청구건을 승인처리합니다.") ) {
        dupReqCheck = true;
        var url = "/site/matrlclm/matrlClmAprv?matrlClmNo=" + matrlCmlNo + "&aprvSeq=" + aprvSeq;
        location.href = url;
    }
}
</script>

<h1 class="page_title">자재 청구 상세</h1>
<!-- //////////////////// Content List -->
<div class="LIST_BOX">
    <!-- 자재 청구서 -->
    <div class="list_top_area">
        <div class="list_search_result midt blue">
            <b>자재 청구서</b><span th:text="|${#strings.substring(matrlVo.matrlClmNo,0,6)}-${#strings.substring(matrlVo.matrlClmNo,6,14)}|">20-12140001</span>
        </div>
        <div class="list_top_btn_box">
            <a href="/site/matrlclm/matrlClmList" class="BTNS icon list"><span>목록</span></a>
        </div>
    </div>
    <!-- Info list Top -->
    <div class="con_info_top">
        <table>
            <thead>
                <tr>
                    <th rowspan="2" class="sz_60">진행상태</th>
                    <th rowspan="2">청구일</th>
                    <th rowspan="2">청구번호</th>
                    <th rowspan="2">현장명</th>
                    <th colspan="3">현장 결재</th>
                    <th rowspan="2" class="sz_100">발주 여부</th>
                </tr>
                <tr>
                    <th class="sz_200">담당자</th>
                    <th class="sz_200">소장</th>
                    <th class="sz_200">이사</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${matrlVo.clmStatCd}">clmStatCd</td>
                    <td th:text="${#temporals.createDate(matrlVo.clmDt, 'yyyyMMdd')}">clmDt</td>
                    <td th:text="|${#strings.substring(matrlVo.matrlClmNo,0,6)}-${#strings.substring(matrlVo.matrlClmNo,6,14)}|">matrlClmNo</td>
                    <td th:text="${matrlVo.siteNm}">siteNm</td>
                    <td class="man" th:with="aprvVo = ${matrlVo.aprvList.size > 0 ? matrlVo.aprvList[0] : null}">
                        <span th:if="${aprvVo != null}" th:text="|${aprvVo?.aprvrLoginId}(${aprvVo?.aprvrUserNm})|">id(이름)</span>
                        <span th:if="${aprvVo != null}" th:text="${#dates.format(aprvVo?.aprvDts, 'yyyy/MM/dd')}">2020/12/14</span>
                        <span th:if="${aprvVo != null && aprvVo.aprvStatCd == '10' && LOGIN_VO.cmpnyUserId == aprvVo.aprvrId}"
                            onclick="doAprv(this);" th:attr="data-no=${aprvVo.matrlClmNo},data-seq=${aprvVo.aprvSeq}" class="tb_btn">결재</span>
                    </td>
                    <td class="man" th:with="aprvVo = ${matrlVo.aprvList.size > 1 ? matrlVo.aprvList[1] : null}">
                        <span th:if="${aprvVo != null}" th:text="|${aprvVo?.aprvrLoginId}(${aprvVo?.aprvrUserNm})|">id(이름)</span>
                        <span th:if="${aprvVo != null}" th:text="${#dates.format(aprvVo?.aprvDts, 'yyyy/MM/dd')}">2020/12/14</span>
                        <span th:if="${aprvVo != null && aprvVo.aprvStatCd == '10' && LOGIN_VO.cmpnyUserId == aprvVo.aprvrId}"
                            onclick="doAprv(this);" th:attr="data-no=${aprvVo.matrlClmNo},data-seq=${aprvVo.aprvSeq}" class="tb_btn">결재</span>
                    </td>
                    <td class="man" th:with="aprvVo = ${matrlVo.aprvList.size > 2 ? matrlVo.aprvList[2] : null}">
                        <span th:if="${aprvVo != null}" th:text="|${aprvVo?.aprvrLoginId}(${aprvVo?.aprvrUserNm})|">id(이름)</span>
                        <span th:if="${aprvVo != null}" th:text="${#dates.format(aprvVo?.aprvDts, 'yyyy/MM/dd')}">2020/12/14</span>
                        <span th:if="${aprvVo != null && aprvVo.aprvStatCd == '10' && LOGIN_VO.cmpnyUserId == aprvVo.aprvrId}"
                            onclick="doAprv(this);" th:attr="data-no=${aprvVo.matrlClmNo},data-seq=${aprvVo.aprvSeq}" class="tb_btn">결재</span>
                    </td>
                    <td class="man">
                        -
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 현장 및 담당자 정보 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>현장 및 담당자 정보</b>
        </div>
        <div class="list_top_btn_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th>현장(배송)주소</th>
                    <th>현장 내 위치(하차장소)</th>
                    <th class="sz_60">Gate</th>
                    <th>입고 담당자</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="|(${matrlVo.inAddrZipcd}) ${matrlVo.inAddr}|">inAddr</td>
                    <td th:text="${matrlVo.inAddrRemark}">inAddrRemark</td>
                    <td th:text="${matrlVo.inGateNo}">inGateNo</td>
                    <td th:text="|${matrlVo.inChargrNm}(${matrlVo.inChargrTel})|">inChargrNm</td>
                    <td th:text="${matrlVo.inRemark}">inRemark</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 특이사항 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>특이사항</b>
        </div>
        <div class="list_top_btn_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th>특이사항</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="t_left" th:text="${matrlVo.remark}">remark</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 청구 자재 목록 -->
    <div class="list_top_area">
        <div class="list_search_result blue">
            <b>청구 자재 목록</b>
        </div>
        <div class="list_top_btn_box">
            <a href="#" class="BTNS icon cancel"><span>청구취소</span></a>
            <a href="#" class="BTNS icon edit"><span>청구서 수정</span></a>
        </div>
    </div>
	<div class="list_table">
	    <table>
	        <thead>
	            <tr>
	                <th class="sz_50">No</th>
	                <th class="sz_80">상태</th>
	                <th>청구상세번호</th>
	                <th>품목</th>
	                <th>세부품목</th>
	                <th class="sz_60">입고수량</th>
	                <th class="sz_60">청구수량</th>
	                <th class="sz_60">승인수량</th>
	                <th>용도</th>
	                <th>입고 요청일</th>
	            </tr>
	        </thead>
	        <tbody>
                <tr th:each="rstLi,index : ${matrlVo.dtlList}">
	                <td th:text="${index.count}">1</td>
	                <td th:text="${rstLi.clmDtlStatCd}">-</td>
	                <td>
	                   <a href="#" th:text="${rstLi.matrlClmDtlNo}">20-12140001</a>
	                </td>
                    <td th:text="${rstLi.itemNm}">itemNm</td>
                    <td th:text="${rstLi.matrlStd}">matrlStd</td>
 	                <td th:text="${#numbers.formatInteger(rstLi.prevClmQty,1,'COMMA')}">prevClmQty</td>
 	                <td th:text="${#numbers.formatInteger(rstLi.clmQty,1,'COMMA')}">clmQty</td>
 	                <td th:text="${#numbers.formatInteger(rstLi.aprvQty,1,'COMMA')}">aprvQty</td>
 	                <td th:text="${rstLi.remark}">remark</td>
 	                <td th:text="${#temporals.createDate(rstLi.inHopeDt, 'yyyyMMdd')}">inHopeDt</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	<!-- 청구 관련 서류 -->
	<div class="list_top_area">
	    <div class="list_search_result blue">
	        <b>청구 관련 서류</b>
	    </div>
	</div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th class="sz_50">No</th>
                    <th>서류 내용</th>
                    <th>첨부파일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rstLi,index : ${matrlVo.fileList}">
                    <td th:text="${index.count}">1</td>
                    <td th:text="${rstLi.fileDesc}">fileDesc</td>
                    <td><a href="#" th:text="${rstLi.fileNm}">fileNm</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Content List //////////////////// -->

</th:block>