<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<div class="sub">
어드민
<br />
<a href="/admin/matrl/matrlItemList">자재목록</a>
</div>

<h1>테스트 계정</h1>

<table border="1">
<thead>
    <tr>
       <th>cmpnyUserId</th><th>userTypeCd</th>
       <th>cmpnyId</th><th>cmpnyTypeCd</th><th>cmpnyNm</th>
       <th>workSite</th>
       <th>userNm</th>
       <th>loginId</th>
       <th>statCd</th>
       <th>joinDt</th>
       <th>deptNm</th>
       <th>posiNm</th>
       <th>telNo</th>
       <th>faxNo</th>
       <th>hpNo</th>
       <th>email</th>
    </tr>
</thead>
<tbody>
    <tr th:each="cu : ${cuList}">
        <td th:text="${cu.cmpnyUserId}">cmpnyUserId</td>
        <td th:text="${cu.userTypeCd}">userTypeCd</td>
        <td th:text="${cu.cmpnyId}">cmpnyId</td>
        <td th:text="${cu.cmpnyTypeCd}">cmpnyTypeCd</td>
        <td th:text="${cu.cmpnyNm}">cmpnyNm</td>
        <td>
            <span th:each="si : ${cu.siteList}"><span th:text="${si.siteNm}"></span><br /></span>
        </td>
        <td th:text="${cu.userNm}">userNm</td>
        <td style="background-color: #A33; color: yellow;" th:text="${cu.loginId}">loginId</td>
        <td th:text="${cu.statCd}">statCd</td>
        <td th:text="${cu.joinDt}">joinDt</td>
        <td th:text="${cu.deptNm}">deptNm</td>
        <td th:text="${cu.posiNm}">posiNm</td>
        <td th:text="${cu.telNo}">telNo</td>
        <td th:text="${cu.faxNo}">faxNo</td>
        <td th:text="${cu.hpNo}">hpNo</td>
        <td th:text="${cu.email}">email</td>
    </tr>
</tbody>
</table>

</th:block>