<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<!-- TODO DELETE -->
<pre id="DEV_MEMO_DIV" style="padding:0; margin:0; display:none;">
* 요청_상태_코드
  00 - 작성중
  10 - 확인요청(공급업체)
  15 - 확인요청(건설업체)
  20 - 확정
  90 - 요청취소
* 구매방식별로 레이아웃을 구분하여 하나의 화면에서 처리.
* 적용구분 - 진행상태 확정인 경우만.
</pre>

<h1 class="page_title">업체 단가 관리 <b th:text="${splCmpny.cmpnyNm}">공급업체명</b></h1>
<div class="page_top">
    <!-- Search Area -->
    <div class="con_search_box">
        <!-- Select -->
        <div class="search_inp_box">
            <select class="top_inp">
                <option>구매방식</option>
            </select>
            <a href="#" class="BTNS icon search"><span>검색</span></a>
            <a href="#" class="BTNS icon reset"><span>초기화</span></a>
        </div>
        <!-- Button Area -->
        <div class="fuc_btns_box">
            <a href="/cmpny/matrl/price/cmpnyMatrlPriceVenList" class="BTNS icon list"><span>목록</span></a>
        </div>
    </div>
</div>
<!-- //////////////////// Content List -->
<div class="LIST_BOX">
    <!-- Search Result, buttons -->
    <div class="list_top_area">
        <div class="list_search_result">
            업체의 공급단가 적용 이력입니다.
        </div>
        <div class="list_top_btn_box">
            <a href="#" th:href="@{/cmpny/matrl/price/cmpnyMatrlPriceVenReqDtl(splCmpnyId=${param.splCmpnyId})}" class="BTNS icon exchange"><span>공급단가 변경요청</span></a>
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th class="sz_60">No</th>
                    <th>진행상태</th>
                    <th>적용구분</th>
<!--                     <th>구매방식</th> -->
                    <th>공급품목</th>
                    <th>단가명</th>
                    <th>적용기간</th>
                    <th>요청일</th>
                    <th>확정일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rstLi,index : ${rstList}">
                    <td th:text="${index.size - index.index}">xx</td>
                    <td th:text="${rstLi.reqStatCd}">reqStatCd</td>
                    <td>만료/예정</td>
                    <td>xx</td>
                    <td>
                        <a href="#" th:href="@{/cmpny/matrl/price/cmpnyMatrlPriceVenReqDtl(splCmpnyId=${param.splCmpnyId}, aplStrtDt=${rstLi.aplStrtDt})}" th:text="${rstLi.title}">title</a>
                    </td>
                    <td th:text="|${#temporals.createDate(rstLi.aplStrtDt, 'yyyyMMdd')} ~ ${#temporals.createDate(rstLi.aplEndDt, 'yyyyMMdd')}|">2020/01/01 ~ 2020/12/31</td>
                    <td th:text="${#temporals.createDate(rstLi.reqDt, 'yyyyMMdd')}">reqDt</td>
                    <td th:text="${rstLi.confirmDt == null ? '-' : #temporals.createDate(rstLi.confirmDt, 'yyyyMMdd')}">confirmDt</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Content List //////////////////// -->

</th:block>