<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<!-- TODO DELETE -->
<pre id="DEV_MEMO_DIV" style="padding:0; margin:0; display:none;">
* 요청_상태_코드
  00 - 작성중
  10 - 확인요청(공급업체)
  15 - 확인요청(건설업체)
  20 - 확정
  90 - 요청취소
* 구매방식별로 레이아웃을 구분하여 하나의 화면에서 처리.
</pre>

<h1 class="page_title">
    업체 단가 관리<b th:text="${splCmpny.cmpnyNm}">공급업체명</b><b th:text="${rst.title}">제목</b>
    <div class="tit_btn_area">
        <a href="#" th:href="@{/cmpny/matrl/price/cmpnyMatrlPriceVenDtlList(splCmpnyId=${param.splCmpnyId})}" class="BTNS icon list"><span>목록</span></a>
    </div>
</h1>
<!-- //////////////////// Content List -->
<div class="LIST_BOX">
    <!-- Info list Top -->
    <div class="con_info_top">
        <table>
            <thead>
                <tr>
                    <th>진행상태</th>
<!--                     <th>구매방식</th> -->
                    <th>품목</th>
                    <th>세부품목</th>
                    <th>단가적용 기간</th>
                    <th>변경 요청일</th>
                    <th>단가 확정일</th>
                    <th>잔여기간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${rst.reqStatCd}">reqStatCd</td>
<!--                     <td>구매</td> -->
                    <td>xx</td>
                    <td>xx</td>
                    <td th:text="|${#temporals.createDate(rst.aplStrtDt, 'yyyyMMdd')} ~ ${#temporals.createDate(rst.aplEndDt, 'yyyyMMdd')}|">2020/01/01 ~ 2020/12/31</td>
                    <td th:text="${#temporals.createDate(rst.reqDt, 'yyyyMMdd')}">reqDt</td>
                    <td th:text="${#temporals.createDate(rst.confirmDt, 'yyyyMMdd')}">confirmDt</td>
                    <td>xx일</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Search Area -->
    <div class="con_search_box">
        <!-- Select -->
        <div class="search_inp_box">
            <select class="top_inp">
                <option>중분류명</option>
            </select>
            <select class="top_inp">
                <option>소분류명</option>
            </select>
            <input type="text" class="top_inp" placeholder="품목명을 입력하세요" />
            <a href="#" class="BTNS icon search"><span>검색</span></a>
            <a href="#" class="BTNS icon reset"><span>초기화</span></a>
        </div>
        <!-- Button Area -->
        <div class="fuc_btns_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th class="sz_60">No</th>
                    <th>중분류</th>
                    <th>소분류</th>
                    <th>품목</th>
                    <th>세부품목</th>
                    <th class="sz_70">단위</th>
                    <th>비고</th>
                    <th>공급단가</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rstLi,index : ${rstList}">
                    <td th:text="${index.size - index.index}">xx</td>
                    <td th:text="${rstLi.mctgNm}">mctgNm</td>
                    <td th:text="${rstLi.ctgNm}">ctgNm</td>
                    <td th:text="${rstLi.itemNm}">itemNm</td>
                    <td th:text="${rstLi.matrlStd}">matrlStd</td>
                    <td th:text="${rstLi.unitCd}">unitCd</td>
                    <td th:text="${rstLi.matrlDesc}">matrlDesc</td>
                    <td th:text="${rstLi.price}">price</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Content List //////////////////// -->

</th:block>