<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<h1 class="page_title">업체 단가 관리</h1>
<div class="page_top">
    <!-- Search Area -->
    <div class="con_search_box">
        <!-- Select -->
        <div class="search_inp_box">
            <select class="top_inp">
                <option>구매방식</option>
            </select>
            <select class="top_inp">
                <option>공급업체명</option>
            </select>
            <a href="#" class="BTNS icon search"><span>검색</span></a>
            <a href="#" class="BTNS icon reset"><span>초기화</span></a>
        </div>
        <!-- Button Area -->
        <div class="fuc_btns_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
</div>
<!-- //////////////////// Content List -->
<div class="LIST_BOX">
    <!-- Search Result, buttons -->
    <div class="list_top_area">
        <div class="list_search_result">
            <b>공급업체 검색결과</b>xx개의  공급업체가 있습니다.
        </div>
        <div class="list_top_btn_box">
            <!-- 버튼이 있는 경우 노출 -->
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>업체명</th>
                    <th class="sz_70">공급품목</th>
<!--                     <th class="sz_70">구매방식</th> -->
                    <th>단가명</th>
                    <th>적용기간</th>
                    <th class="sz_60">잔여기간</th>
                    <th>확정일</th>
                    <th class="sz_100">단가 협상여부</th>
                </tr>
            </thead>
            <tbody>
				 <tr th:each="rstLi,index : ${rstList}">
				    <td th:text="${index.size - index.index}">xx</td>
				    <td>
				        <a href="#" th:href="@{/cmpny/matrl/price/cmpnyMatrlPriceVenDtlList(splCmpnyId=${rstLi.splCmpnyId})}" th:text="${rstLi.splCmpnyNm}">splCmpnyNm</a>
				    </td>
				    <td>xx</td>
				    <td th:text="${rstLi.title}">2021년 구매 자재 공급단가</td>
				    <td th:if="${rstLi.aplStrtDt != null && rstLi.aplEndDt != null}" th:text="|${#temporals.createDate(rstLi.aplStrtDt, 'yyyyMMdd')} ~ ${#temporals.createDate(rstLi.aplEndDt, 'yyyyMMdd')}|">2020/01/01 ~ 2020/12/31</td>
				    <td th:unless="${rstLi.aplStrtDt != null && rstLi.aplEndDt != null}"></td>
				    <td>xx일</td>
				    <td th:text="${rstLi.confirmDt}">xxxx.xx.xx</td>
				    <td th:text="${rstLi.reqStatCd}">진행중</td>
				</tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Content List //////////////////// -->

</th:block>