<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="_layout/layout">
<th:block layout:fragment="contentFragment">

<h1 class="page_title">업체 단가 관리 <b>지엠테크</b></h1>
<div class="page_top">
    <!-- Search Area -->
    <div class="con_search_box">
        <!-- Select -->
        <div class="search_inp_box">
            <select class="top_inp">
                <option>구매방식</option>
            </select>
            <a href="#" class="BTNS icon search"><span>검색</span></a>
            <a href="#" class="BTNS icon reset"><span>초기화</span></a>
        </div>
        <!-- Button Area -->
        <div class="fuc_btns_box">
            <a href="#" class="BTNS icon list"><span>목록</span></a>
        </div>
    </div>
</div>
<!-- //////////////////// Content List -->
<div class="LIST_BOX">
    <!-- Search Result, buttons -->
    <div class="list_top_area">
        <div class="list_search_result">
            업체의 공급단가 적용 이력입니다.
        </div>
        <div class="list_top_btn_box">
            <a href="#" class="BTNS icon exchange"><span>공급단가 변경요청</span></a>
        </div>
    </div>
    <div class="list_table">
        <table>
            <thead>
                <tr>
                    <th class="sz_60">No</th>
                    <th>적용구분</th>
<!--                     <th>구매방식</th> -->
                    <th>공급품목</th>
                    <th>단가명</th>
                    <th>적용기간</th>
                    <th>신청일</th>
                    <th>확장일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mi : ${miList}">
                    <td>xx</td>
                    <td th:text="${mi.reqStatCd}">reqStatCd</td>
                    <td>xx</td>
                    <td th:text="${mi.title}">title</td>
                    <td th:text="|${#temporals.createDate(mi.aplStrtDt, 'yyyyMMdd')} ~ ${#temporals.createDate(mi.aplEndDt, 'yyyyMMdd')}|">2020/01/01 ~ 2020/12/31</td>
                    <td th:text="${#temporals.createDate(mi.reqDt, 'yyyyMMdd')}">reqDt</td>
                    <td th:text="${#temporals.createDate(mi.confirmDt, 'yyyyMMdd')}">confirmDt</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Content List //////////////////// -->

</th:block>