<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inface.hub.service.cmpny.mapper.CmpnyMapper">

<!-- 업체 정보 조회 -->
<select id="getCmpny" parameterType="String" resultType="CmpnyVO"><![CDATA[
/* cmpny.CmpnyMapper.getCmpny */
SELECT
        CMPNY_ID, CMPNY_NM, CMPNY_TYPE_CD
      , BIZ_KIND_CD, BIZ_REG_NO
      , REPPE_NM, BIZ_ADDR
      , BIZ_TYPE_ITEM, TAX_BILL_EMAIL
      , BIZ_REG_IMG
      , C.REG_DTS, C.REGPE_ID
      , C.MOD_DTS, C.MODPE_ID
FROM
        CMPNY C
WHERE   1 = 1
AND     CMPNY_ID = #{cmpnyId, jdbcType=VARCHAR}
]]></select>


<!-- 작업현장(수기관리하고있는 결재선 포함)정보 조회 -->
<select id="getWorkSite" parameterType="String" resultType="WorkSiteVO"><![CDATA[
/* cmpny.CmpnyMapper.getWorkSite */
SELECT
        WS.CMPNY_ID, WS.WORK_SITE_ID, WS.SITE_NM
      , WS.USE_YN, WS.ADDR_ZIPCD, WS.ADDR
      , WS.REG_DTS, WS.REGPE_ID
      , WS.MOD_DTS, WS.MODPE_ID
      , WSAT.CLM_APRVR_ID_1, WSAT.CLM_APRVR_ID_2, WSAT.CLM_APRVR_ID_3
      , WSAT.ORDR_APRVR_ID_1, WSAT.ORDR_APRVR_ID_2
FROM
        WORK_SITE WS
        LEFT OUTER JOIN WORK_SITE_APRV_TMPLT WSAT ON WS.WORK_SITE_ID = WSAT.WORK_SITE_ID
WHERE   1 = 1
AND     WS.WORK_SITE_ID = #{workSiteId, jdbcType=VARCHAR}
]]></select>

</mapper>