<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.pe.inface.hub.service.cmpny.mapper.CmpnyUserMapper">

<!-- 업체 사용자 목록 -->
<select id="getCmpnyUserList" resultType="CmpnyUserVO"><![CDATA[
/* cmpny.CmpnyUserMapper.getCmpnyUserList */
SELECT
        CU.CMPNY_USER_ID
      , CU.USER_TYPE_CD, CU.CMPNY_ID
      , C.CMPNY_TYPE_CD, C.CMPNY_NM
      , CU.USER_NM, CU.LOGIN_ID
      , CU.STAT_CD, CU.JOIN_DT
      , CU.DEPT_NM, CU.POSI_NM
      , CU.TEL_NO, CU.FAX_NO, CU.HP_NO, CU.EMAIL
      , CU.REG_DTS, CU.REGPE_ID
      , CU.MOD_DTS, CU.MODPE_ID
FROM
        CMPNY_USER CU
        LEFT OUTER JOIN CMPNY C ON CU.CMPNY_ID = C.CMPNY_ID
WHERE   1 = 1
ORDER BY
        CU.CMPNY_ID, CU.USER_TYPE_CD
      , CU.CMPNY_USER_ID
]]></select>

<!-- 로그인 업체 사용자 정보 조회 -->
<select id="getCmpnyUser" parameterType="String" resultType="CmpnyUserVO"><![CDATA[
/* cmpny.CmpnyUserMapper.getCmpnyUser */
SELECT
        CU.CMPNY_USER_ID
      , CU.USER_TYPE_CD, CU.CMPNY_ID
      , C.CMPNY_TYPE_CD, C.CMPNY_NM
      , CU.USER_NM, CU.LOGIN_ID, CU.PWD
      , CU.STAT_CD, CU.JOIN_DT
      , CU.DEPT_NM, CU.POSI_NM
      , CU.TEL_NO, CU.FAX_NO, CU.HP_NO, CU.EMAIL
      , CU.REG_DTS, CU.REGPE_ID
      , CU.MOD_DTS, CU.MODPE_ID
FROM
        CMPNY_USER CU
        LEFT OUTER JOIN CMPNY C ON CU.CMPNY_ID = C.CMPNY_ID
WHERE   1 = 1
AND     CU.LOGIN_ID = #{loginId, jdbcType=VARCHAR}
]]></select>

<!-- 업체 사용자 현장 목록 -->
<select id="getCmpnyUserSiteList" parameterType="String" resultType="cmpnyUserSiteVO"><![CDATA[
/* cmpny.CmpnyUserMapper.getCmpnyUserSiteList */
SELECT
        CUS.CMPNY_USER_ID
      , CUS.WORK_SITE_ID, WS.SITE_NM
      , CUS.POSI_NM
      , CUS.USE_YN
FROM
        CMPNY_USER CU
      , WORK_SITE WS
      , CMPNY_USER_SITE CUS
WHERE   1 = 1
AND     CU.CMPNY_USER_ID = #{cmpnyUserId, jdbcType=VARCHAR}
AND     CU.CMPNY_ID = WS.CMPNY_ID
AND     CU.CMPNY_USER_ID = CUS.CMPNY_USER_ID
AND     CUS.USE_YN = 'Y'
AND     CUS.WORK_SITE_ID = WS.WORK_SITE_ID
]]></select>

</mapper>