<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--/* 페이지정보 객체는 pageList 로 설정해야 함. */-->
<th:block th:fragment="pageNaviFragment" th:with="baseUrlWithParam=|${#request.requestURI}?${pageList.makeSearchCondParam(#request.getParameterMap())}|">
    <span th:text="|총 ${pageList.totalCount}건, 페이지 ${pageList.curPage} / ${pageList.totalPage}|"></span>
    <div class="page_wrap">
        <div class="page_nation">
        <a class="arrow pprev" href="#" th:href="|${baseUrlWithParam}&page=1|"></a>
        <a class="arrow prev" href="#" th:href="|${baseUrlWithParam}&page=${pageList.prevNaviLastPage}|" ></a>
        <a href="#"
            th:classappend="${pageNo == pageList.curPage ? 'active' : ''}"
            th:each="pageNo : ${#numbers.sequence(pageList.startPage, pageList.endPage)}"
            th:href="|${baseUrlWithParam}&page=${pageNo}|"
            th:text="${pageNo}">
        </a>
        <a class="arrow next" href="#" th:href="|${baseUrlWithParam}&page=${pageList.nextNaviFirstPage}|" ></a>
        <a class="arrow nnext" href="#" th:href="|${baseUrlWithParam}&page=${pageList.totalPage}|" ></a>
        </div>
    </div>
</th:block>

</html>