<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inface.infaceCBP.mapper.CompanyManagementMapper">

<!--협력업체 정보 수정-->
<update id="subCompanyUpdate" parameterType="CompanyManagementVO"><![CDATA[
UPDATE SUBCONTRACTOR_COMPANY
SET SUBCONTRACTOR_CM_NM          = #{subcontractorCmNm}
  , SUBCONTRACTOR_CM_BSINES_NUM  = #{subcontractorCmBsinesNum}
  , SUBCONTRACTOR_CM_CEO_NM      = #{subcontractorCmCeoNm}
  , SUBCONTRACTOR_CM_BSINES_ADDR = #{subcontractorCmBsinesAddr}
  , SUBCONTRACTOR_CM_PHONE       = #{subcontractorCmPhone}
  , BANK_ACOUNT_NUM              = #{bankAcountNum}
  , BANK_NM                      = #{bankNm}
  , ACCOUNT_HOLDER               = #{accountHolder}
WHERE SUBCONTRACTOR_CM_NO = #{subcontractorCmNo}
]]></update>
<!--////협력업체 정보 수정-->

<!--협력업체 상세 정보-->
<select id="getSubCompanyDetail" parameterType="CompanyManagementVO" resultType="CompanyManagementVO"><![CDATA[
SELECT PG.*
FROM (
         SELECT VA.*
              , ROW_NUMBER() OVER() AS RNUM -- 페이징처리용 컬럼
         FROM (SELECT COALESCE(SUBCONTRACTOR_CM_NO, 0)             AS SUBCONTRACTOR_CM_NO
                    , COALESCE(SUBCONTRACTOR_CM_NM, NULL)          AS SUBCONTRACTOR_CM_NM
                    , COALESCE(SUBCONTRACTOR_CM_BSINES_NUM, NULL)  AS SUBCONTRACTOR_CM_BSINES_NUM
                    , COALESCE(SUBCONTRACTOR_CM_CEO_NM, NULL)      AS SUBCONTRACTOR_CM_CEO_NM
                    , COALESCE(SUBCONTRACTOR_CM_BSINES_ADDR, NULL) AS SUBCONTRACTOR_CM_BSINES_ADDR
                    , COALESCE(SUBCONTRACTOR_CM_PHONE, NULL)       AS SUBCONTRACTOR_CM_PHONE
                    , COALESCE(split_part(SUBCONTRACTOR_CM_PHONE, '-', 1), NULL)       AS tel1
                    , COALESCE(split_part(SUBCONTRACTOR_CM_PHONE, '-', 2), NULL)       AS tel2
                    , COALESCE(split_part(SUBCONTRACTOR_CM_PHONE, '-', 3), NULL)       AS tel3
                    , COALESCE(BANK_ACOUNT_NUM, NULL)              AS BANK_ACOUNT_NUM
                    , COALESCE(CREATE_DT, NULL)                    AS CREATE_DT
                    , COALESCE(BANK_NM, NULL)                      AS BANK_NM
                    , COALESCE(ACCOUNT_HOLDER, NULL)               AS ACCOUNT_HOLDER
                    , COUNT(*) OVER() AS TOTAL_RECORD_COUNT -- 페이징처리용 컬럼
               FROM SUBCONTRACTOR_COMPANY
               WHERE SUBCONTRACTOR_CM_NO IS NOT NULL
]]>
<if test="subcontractorCmNo != null and !''.equals(subcontractorCmNo) and subcontractorCmNo != 0">
                AND SUBCONTRACTOR_CM_NO = #{subcontractorCmNo}
</if><![CDATA[
               GROUP BY SUBCONTRACTOR_CM_NO
                    , SUBCONTRACTOR_CM_NM
                    , SUBCONTRACTOR_CM_BSINES_NUM
                    , SUBCONTRACTOR_CM_CEO_NM
                    , SUBCONTRACTOR_CM_BSINES_ADDR
                    , SUBCONTRACTOR_CM_PHONE
                    , BANK_ACOUNT_NUM
                    , CREATE_DT
                    , BANK_NM
                    , ACCOUNT_HOLDER
               ORDER BY SUBCONTRACTOR_CM_NO) AS VA
             LIMIT #{endRownum, jdbcType=NUMERIC}) AS PG
WHERE RNUM BETWEEN #{startRownum, jdbcType=NUMERIC} AND #{endRownum, jdbcType=NUMERIC}
]]></select>
<!--////협력업체 상세 정보-->

<!--협력업체등록-->
<insert id="subCompanyRegist" parameterType="CompanyManagementVO"><![CDATA[
INSERT INTO SUBCONTRACTOR_COMPANY
( SUBCONTRACTOR_CM_NO
, SUBCONTRACTOR_CM_NM
, SUBCONTRACTOR_CM_BSINES_NUM
, SUBCONTRACTOR_CM_CEO_NM
, SUBCONTRACTOR_CM_BSINES_ADDR
, SUBCONTRACTOR_CM_PHONE
, BANK_ACOUNT_NUM
, BANK_NM
, ACCOUNT_HOLDER
, CREATE_DT)
    (SELECT COALESCE(MAX(SUBCONTRACTOR_CM_NO), 0) + 1
          , #{subcontractorCmNm}
          , #{subcontractorCmBsinesNum}
          , #{subcontractorCmCeoNm}
          , #{subcontractorCmBsinesAddr}
          , #{subcontractorCmPhone}
          , #{bankAcountNum}
          , #{bankNm}
          , #{accountHolder}
          , NOW()
     FROM SUBCONTRACTOR_COMPANY)
]]></insert>
<!--////협력업체등록-->

<!--협력업체 리스트-->
<select id="getSubCompanyList" parameterType="CompanyManagementVO" resultType="CompanyManagementVO"><![CDATA[
SELECT PG.*
FROM (
         SELECT VA.*
              , ROW_NUMBER() OVER() AS RNUM -- 페이징처리용 컬럼
         FROM (SELECT COALESCE(SUBCONTRACTOR_CM_NO, 0)             AS SUBCONTRACTOR_CM_NO
                    , COALESCE(SUBCONTRACTOR_CM_NM, NULL)          AS SUBCONTRACTOR_CM_NM
                    , COALESCE(SUBCONTRACTOR_CM_BSINES_NUM, NULL)  AS SUBCONTRACTOR_CM_BSINES_NUM
                    , COALESCE(SUBCONTRACTOR_CM_CEO_NM, NULL)      AS SUBCONTRACTOR_CM_CEO_NM
                    , COALESCE(SUBCONTRACTOR_CM_BSINES_ADDR, NULL) AS SUBCONTRACTOR_CM_BSINES_ADDR
                    , COALESCE(SUBCONTRACTOR_CM_PHONE, NULL)       AS SUBCONTRACTOR_CM_PHONE
                    , COALESCE(BANK_ACOUNT_NUM, NULL)              AS BANK_ACOUNT_NUM
                    , COALESCE(CREATE_DT, NULL)                    AS CREATE_DT
                    , COALESCE(BANK_NM, NULL)                      AS BANK_NM
                    , COALESCE(ACCOUNT_HOLDER, NULL)               AS ACCOUNT_HOLDER
                    , COUNT(*) OVER() AS TOTAL_RECORD_COUNT -- 페이징처리용 컬럼
               FROM SUBCONTRACTOR_COMPANY
               WHERE SUBCONTRACTOR_CM_NO IS NOT NULL
]]>
<if test="searchCompanyNo != null and !''.equals(searchCompanyNo) and searchCompanyNo != 0">
    AND SUBCONTRACTOR_CM_NO = #{searchCompanyNo, jdbcType=VARCHAR}
</if>
<if test="searchBusinessNo != null and !''.equals(searchBusinessNo)">
    AND SUBCONTRACTOR_CM_BSINES_NUM LIKE concat( '%' , #{searchBusinessNo} , '%')
</if><![CDATA[
               GROUP BY SUBCONTRACTOR_CM_NO
                    , SUBCONTRACTOR_CM_NM
                    , SUBCONTRACTOR_CM_BSINES_NUM
                    , SUBCONTRACTOR_CM_CEO_NM
                    , SUBCONTRACTOR_CM_BSINES_ADDR
                    , SUBCONTRACTOR_CM_PHONE
                    , BANK_ACOUNT_NUM
                    , CREATE_DT
                    , BANK_NM
                    , ACCOUNT_HOLDER
               ORDER BY SUBCONTRACTOR_CM_NO) AS VA
             LIMIT #{endRownum, jdbcType=NUMERIC}) AS PG
WHERE RNUM BETWEEN #{startRownum, jdbcType=NUMERIC} AND #{endRownum, jdbcType=NUMERIC}
]]></select>
<!--////협력업체 리스트-->

<!--거래처 정보 수정-->
<update id="clientCompanyUpdate" parameterType="CompanyManagementVO"><![CDATA[
UPDATE COMPANY
SET COMPANY_NAME         = #{companyName}
  , CEO_NAME             = #{ceoName}
  , TEL                  = #{tel}
  , EMAIL                = #{email}
  , BUSINESS_NO          = #{businessNo}
  , BUSINESS_TYPE        = #{businessType}
  , INDUSTRY             = #{industry}
  , ROAD_ADDRESS         = #{roadAddress}
  , BRANCH_OFFICE_WHETHE = #{branchOfficeWhethe}
WHERE COMPANY_NO = #{companyNo}
]]></update>
<!--////거래처 정보 수정-->

<!--거래처 상세 정보-->
<select id="getClientCompanyDetail" parameterType="CompanyManagementVO" resultType="CompanyManagementVO"><![CDATA[
SELECT PG.*
FROM (
         SELECT va.*
              , ROW_NUMBER() OVER() AS RNUM -- 페이징처리용 컬럼
         FROM (SELECT COALESCE(CM.COMPANY_GROUP_NO, 0) AS COMPANY_GROUP_NO
                    , COALESCE(CM.COMPANY_NO, 0)       AS COMPANY_NO
                    , COALESCE(CM.COMPANY_NAME, NULL)  AS COMPANY_NAME
                    , COALESCE(CM.CEO_NAME, NULL)      AS CEO_NAME
                    , COALESCE(CM.TEL, NULL)           AS TEL
                    , COALESCE(split_part(CM.TEL, '-', 1), NULL)       AS tel1
                    , COALESCE(split_part(CM.TEL, '-', 2), NULL)       AS tel2
                    , COALESCE(split_part(CM.TEL, '-', 3), NULL)       AS tel3
                    , COALESCE(CM.FAX, NULL)           AS FAX
                    , COALESCE(CM.EMAIL, NULL)         AS EMAIL
                    , COALESCE(CM.BUSINESS_NO, NULL)   AS BUSINESS_NO
                    , COALESCE(CM.BUSINESS_TYPE, NULL) AS BUSINESS_TYPE
                    , COALESCE(CM.INDUSTRY, NULL)      AS INDUSTRY
                    , COALESCE(CM.ROAD_ADDRESS, NULL)  AS ROAD_ADDRESS
                    , COALESCE(CM.BRANCH_OFFICE_WHETHE, 0)  AS BRANCH_OFFICE_WHETHE
                    , COUNT(*) OVER() AS TOTAL_RECORD_COUNT -- 페이징처리용 컬럼
               FROM COMPANY AS CM
               WHERE CM.COMPANY_NO IS NOT NULL
]]>
<if test="companyNo != null and !''.equals(companyNo) and companyNo != 0">
                AND CM.COMPANY_NO = #{companyNo}
</if><![CDATA[
               GROUP BY CM.COMPANY_GROUP_NO
                      , CM.COMPANY_NO
                      , CM.COMPANY_NAME
                      , CM.CEO_NAME
                      , CM.TEL
                      , CM.FAX
                      , CM.EMAIL
                      , CM.BUSINESS_NO
                      , CM.BUSINESS_TYPE
                      , CM.INDUSTRY
                      , CM.ROAD_ADDRESS
                      , CM.BRANCH_OFFICE_WHETHE
               ORDER BY CM.COMPANY_GROUP_NO, CM.COMPANY_NO) AS VA
             LIMIT #{endRownum, jdbcType=NUMERIC}) AS PG
WHERE RNUM BETWEEN #{startRownum, jdbcType=NUMERIC} AND #{endRownum, jdbcType=NUMERIC}
ORDER BY RNUM
]]></select>
<!--////거래처 상세 정보-->

<!--거래처업체등록-->
<insert id="clientCompanyRegist" parameterType="CompanyManagementVO"><![CDATA[
INSERT INTO COMPANY
( COMPANY_NO
, COMPANY_REF_NO
, COMPANY_GROUP_NO
, COMPANY_NAME
, CEO_NAME
, TEL
, EMAIL
, BUSINESS_NO
, BUSINESS_TYPE
, INDUSTRY
, ROAD_ADDRESS
, BRANCH_OFFICE_WHETHE
, CREATE_DT)
    (SELECT COALESCE(MAX(COMPANY_NO), 0) + 1
          , #{companyGroupNo}
          , #{companyGroupNo}
          , #{companyName}
          , #{ceoName}
          , #{tel}
          , #{email}
          , #{businessNo}
          , #{businessType}
          , #{industry}
          , #{roadAddress}
          , #{branchOfficeWhethe}
          , NOW()
     FROM COMPANY)
]]></insert>
<!--////거래처업체등록-->

<!--거래처 리스트-->
<select id="getClientCompanyList" parameterType="CompanyManagementVO" resultType="CompanyManagementVO"><![CDATA[
SELECT PG.*
FROM (
         SELECT va.*
              , ROW_NUMBER() OVER() AS RNUM -- 페이징처리용 컬럼
         FROM (SELECT COALESCE(CM.COMPANY_GROUP_NO, 0) AS COMPANY_GROUP_NO
                    , COALESCE(CM.COMPANY_NO, 0)       AS COMPANY_NO
                    , COALESCE(CM.COMPANY_NAME, NULL)  AS COMPANY_NAME
                    , COALESCE(CM.CEO_NAME, NULL)      AS CEO_NAME
                    , COALESCE(CM.TEL, NULL)           AS TEL
                    , COALESCE(CM.FAX, NULL)           AS FAX
                    , COALESCE(CM.EMAIL, NULL)         AS EMAIL
                    , COALESCE(CM.BUSINESS_NO, NULL)   AS BUSINESS_NO
                    , COALESCE(CM.BUSINESS_TYPE, NULL) AS BUSINESS_TYPE
                    , COALESCE(CM.INDUSTRY, NULL)      AS INDUSTRY
                    , COALESCE(CM.ROAD_ADDRESS, NULL)  AS ROAD_ADDRESS
                    , COALESCE(CM.BRANCH_OFFICE_WHETHE, 0)  AS BRANCH_OFFICE_WHETHE
                    , COUNT(*) OVER() AS TOTAL_RECORD_COUNT -- 페이징처리용 컬럼
               FROM COMPANY AS CM
               WHERE CM.COMPANY_NO IS NOT NULL
]]>
<if test="searchCompanyNo != null and !''.equals(searchCompanyNo) and searchCompanyNo != 0">
                AND CM.COMPANY_NO = #{searchCompanyNo, jdbcType=VARCHAR}
</if>
<if test="searchBusinessNo != null and !''.equals(searchBusinessNo)">
                AND CM.BUSINESS_NO like concat( '%' , #{searchBusinessNo} , '%')
</if><![CDATA[
               GROUP BY CM.COMPANY_GROUP_NO
                      , CM.COMPANY_NO
                      , CM.COMPANY_NAME
                      , CM.CEO_NAME
                      , CM.TEL
                      , CM.FAX
                      , CM.EMAIL
                      , CM.BUSINESS_NO
                      , CM.BUSINESS_TYPE
                      , CM.INDUSTRY
                      , CM.ROAD_ADDRESS
                      , CM.BRANCH_OFFICE_WHETHE
               ORDER BY CM.COMPANY_GROUP_NO, CM.COMPANY_NO) AS VA
             LIMIT #{endRownum, jdbcType=NUMERIC}) AS PG
WHERE RNUM BETWEEN #{startRownum, jdbcType=NUMERIC} AND #{endRownum, jdbcType=NUMERIC}
ORDER BY RNUM
]]></select>
<!--////거래처 리스트-->

</mapper>