<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<th:block layout:fragment="contentFragment">
    <script>
        $(function (){
            $(".search").on("click", function () {
                $("#searchForm").submit();
            });
            $(".reset").on("click", function () {
                $('#searchCompanyNo').find('option:first').attr('selected', 'selected');
                $("#searchBusinessNo").attr('value', '');
                $("#searchForm").submit();
            });
        });
    </script>
    <!-- Content Area -->
    <div class="PAGE_BODY">
        <h1 class="page_title">협력업체관리</h1>
        <div class="page_top">
            <!-- Search Area -->
            <form id="searchForm" method="get" action="/subCompanyManagerment">
            <div class="con_search_box">
                <!-- Select -->
                <div class="search_inp_box">
                    <!--<div class="date_inp">
                        <i class="iconDate"></i>
                        <input type="text" value="2020.12. 11" class="date_inp" />
                        <span class="dtx">~</span>
                        <i class="iconDate"></i>
                        <input type="text" value="2020.12. 11" class="date_inp" />
                    </div>-->
                    <select class="top_inp" id="searchCompanyNo" name="searchCompanyNo">
                        <option value="0">업체를 선택해주세요.</option>
                        <th:block th:each="subCompanyList : ${subCompanyList}">
                            <option th:selected="${searchParam.searchCompanyNo} == ${subCompanyList.subcontractorCmNo}" th:text="${subCompanyList.subcontractorCmNm}" th:value="${subCompanyList.subcontractorCmNo}"></option>
                        </th:block>
                    </select>
                    <input type="text" id="searchBusinessNo" name="searchBusinessNo" value="" placeholder="사업자번호를 입력하세요">
                    <!--<input type="text" placeholder="발주번호를 입력하세요" class="top_inp" />-->
                    <a href="#" class="BTNS icon search"><span>검색</span></a>
                    <a href="#" class="BTNS icon reset"><span>초기화</span></a>
                </div>
                <!-- Button Area -->
                <div class="fuc_btns_box">
                    <a href="#" class="BTNS icon write" th:href="@{/subCompanyRegist}"
                       onClick="fnWindowPopupOpen(this.href, 'subCompanyRegist', '600', '700', 'no'); return false;"><span>업체등록</span></a>
                </div>
            </div>
            </form>
        </div>
        <!-- //////////////////// Content List -->
        <div class="LIST_BOX">
            <!-- Search Result, buttons -->
            <!--<div class="list_top_area">
                <div class="list_search_result">
                    <b>조회기간</b>2020년 12월
                </div>
                <div class="list_top_btn_box">
                    <select>
                        <option>전체보기</option>
                    </select>
                </div>
            </div>-->
            <!-- List Table -->
            <div class="list_table">
                <table>
                    <thead>
                    <tr>
                        <th class="sz_50">No</th>
                        <th class="sz_100">사업자등록번호</th>
                        <th>업체명</th>
                        <th>대표자명</th>
                        <th>주소</th>
                        <th>휴대폰</th>
                        <th>계좌정보</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list:${pageList.resultList}">
                    <tr>
                        <td th:text="${list.rnum}">1</td>
                        <td th:text="${list.subcontractorCmBsinesNum}">306-811-18159</td>
                        <td><a href="#" th:href="@{/subCompanyDetail(detailNo=${list.rnum}, subcontractorCmNo = ${list.subcontractorCmNo})}"
                                        onClick="fnWindowPopupOpen(this.href, 'subCompanyDetail', '600', '700', 'no'); return false;"
                                        th:text="${list.subcontractorCmNm}">원영건업(주)</a></td>
                        <td th:text="${list.subcontractorCmCeoNm}">홍길동</td>
                        <td th:text="${list.subcontractorCmBsinesAddr}">서울특별시 중랑구 신내역로 3길 40-36, Behd 103호</td>
                        <td th:text="${list.subcontractorCmPhone}">010-1234-5678</td>
                        <td th:text="|${list.bankAcountNum} / ${list.bankNm} / ${list.accountHolder}|">1234-5678-9123 / 신한은행 / 홍길동</td>
                        <td th:text="${list.createDt}">2021.11.01</td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <th:block th:replace="_fragment/common :: pageNaviFragment"></th:block>
        </div>
    </div>
    <!-- Content List //////////////////// -->
</th:block>
